{% extends 'base.html' %}

{% block titulo %}Configuración de la nueva contraseña{% endblock %}

{% block js %}
	<script type="text/javascript">
		$('#id_new_password1, #id_new_password2').addClass('form-control');
		$('#error1 li, #error2 li').css('list-style', 'none');
		$('#error1 li, #error2 li').addClass('label label-danger');
	</script>
{% endblock %}

{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12">
			<div class="contenido-titulo row">
				<h2 class="titulo">Recuperar Contraseña</h2>
			</div>
			<div class="row">
				<article class="cuerpo-contenido row">
					{% if validlink %}
					<h4>Por favor ingrese su nueva contraseña dos veces. <br>
					Se verificara si los datos ingresados son correctos.</h4>
					<br>
					<form action="" method="post" role="form" class="col col-sm-4">
						{% csrf_token %}
						<div id="error1" class="form-group">
							{{ form.new_password1.errors }}
    						<label for="id_new_password1">Nueva Contraseña:</label>
    						{{ form.new_password1 }}
  						</div>
  						<div id="error2" class="form-group">
  							{{ form.new_password2.errors }}
    						<label for="id_new_password2">Confirmar Contraseña:</label>
    						{{ form.new_password2 }}
  						</div>
  						<div class="form-group">
  							<button type="submit" class="btn btn-default">Aceptar</button>
  						</div>
  					</form>
  					{% else %}
  						<div class="alert alert-danger">
  						<h3>La recuperación de contraseña ¡Falló! x_x</h3>
  						</div>
  						<br>
  						<p>El enlace para recuperar su contraseña no era valido. Posiblemente ya se habia utilizado este enlace. <br>
  						Envíe una nueva solicitud de recuperacion de contraseña. <a href="/user/password/reset/">Recuperar contraseña</a></p>

  					{% endif %}
				</article>
			</div>
		</article>
	</div>
{% endblock %}