{% extends 'base.html' %}

{% block titulo %}Recuperar Contraseña{% endblock %}

{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12 ">
			<div class="contenido-titulo row">
				<h2 class="titulo">Recuperar Contraseña</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<p>Por favor ingrese su dirección de correo. <br>
					Se enviaran instrucciones para recuperar su contraseña.</p>
					<br>
					<form action="" method="post">
						{% csrf_token %}
						<label>{{ form.email.errors }}</label>
						<label for="id_email">Correo electrónico:</label>
						<div class="form-group">
						    <div class="col col-sm-4">
						      {{ form.email }}
						    </div>
						</div>
						<br>
						<div class="form-group">
							<div class="col col-sm-5">
						    	<input type="submit" class="btn btn-success" value="Recuperar Contraseña" />
						    </div>
						</div>
					</form>
				</article>
			</div>
		</article>
	</div>
{% endblock %}