{% autoescape off %}

Usted ha recibido este mensaje porque ha solicitado una recuperación de contraseña para su usuario en {{ site_name }}

Haga click a la siguiente pagina y elija una nueva contraseña:
{% block reset_link %}
{{ site.protocol }}://{{ site.domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid  token=token %}
{% endblock %}

En caso de olvidarlo, su nombre de usuario es: {{ user.username }}

¡Gracias por visitar nuestra sitio web!.

Equipo técnico de {{ site_name }}.

{% endautoescape %}