{% extends 'base.html' %}

{% block titulo %}Configuración de la nueva contraseña{% endblock %}

{% block contenido %}
	<div class="row">
		<input type="hidden" id="centinela_marca" value="0">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12">
			<div class="contenido-titulo row">
				<h2 class="titulo">Recuperar Contraseña</h2>
			</div>
			<div class="row">
				<article class="cuerpo-contenido row ">
					<div class="alert alert-success">
						<h3>Su contraseña ha sido actualizada. Puede <a href="/ingresar/">Iniciar Sesión</a>.</h3>
					</div>
				</article>
			</div>
		</article>
	</div>
{% endblock %}