<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{% block metadata %}{% endblock %}
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carousel.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pm.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/webflow.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/slider_image.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carrito.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pm_estilo.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tabs.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carouFredSel.css">
	
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilo_imprimir.css" media="print">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/icono.png">
	{% block style %}{% endblock %}
	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?25OgKCZ2LQ0Hy9SxLlro2eaI8dRrf0LX';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->
</head>
<body>
	<header>
		<section>
			<article id="logo">
				<figure>
					<img src="{{STATIC_URL}}img/logo-paper.jpg" alt="Paper & More">
				</figure>
				<figure>
					<img src="{{STATIC_URL}}img/logo-megastore.jpg" alt="Paper & More">
				</figure>
			</article>
			<article id="buscar" class="no-print">
				<label>Llámenos (+504) 2780-5200</label>
				<form class="form-inline" role="form" method="GET" action="/buscar/">
				  <div class="form-group">
				    <input type="text" class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar...">
				  	<input type="hidden" name="pagina" value="1">
				  </div>
				  <button type="submit" id="btnBuscar" class="btn btn-primary">Buscar</button>
				</form>
			</article>
		</section>
	</header>

<!--Menú-->
	<div id="contenedor-menu">
		<div class="navbar-wrapper">
	      	<div class="container">
		        <div class="navbar navbar-inverse navbar-static-top">
		          	<div class="container">
			            <div class="navbar-header">
			            	<button type="button" class="navbar-toggle menu-item" data-toggle="collapse" data-target=".navbar-collapse">
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			              	</button>
			              	<a id="btnPM" class="navbar-brand">P&amp;M</a>
			            </div>
			        	<nav id="menu" class="navbar-collapse collapse">
			        		<ul class="nav navbar-nav">
			            		<li class="active"><a href="/">Inicio</a></li>
			            		<li><a href="/marcas/">Marcas</a></li>
			            		<li class="dropdown">
			            			<a id="btnProductos" href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
			            			<ul class="dropdown-menu" id="categorias-productos"></ul>
		                		</li>
		                		<li class="dropdown">
			            			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos <b class="caret"></b></a>
			            			<ul class="dropdown-menu">
			            				<li><a href="/mision_vision/">Misión y Visión</a></li>
							          	<li><a href="/politica/">Politicas</a></li>
							           	<li><a href="/contactanos/">Contáctanos</a></li>
							          	<li><a href="#">Ayuda</a></li>
			            			</ul>
		                		</li>
			          		</ul>
			          		<ul class="nav navbar-nav navbar-right">
			          			{% if centinela == True %}
			          				<li>
			          					<a href="/carrito/">
			          						<span class='icon-carrito icon-carritocart'></span> [<span id="total-item"></span>]
			          					</a>
			          				</li>
							      	<li class="dropdown">
							        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{usuario.username|capfirst}} <b class="caret"></b></a>
								        <ul class="dropdown-menu">
								         	<li><a href="/perfil-usuario/">Mi Perfil</a></li>
								          	<li><a href="/historial-de-compra/">Historial de Compra</a></li>
								           	<li><a href="/historial-de-credito/">Historial de Crédito</a></li>
								          	<li><a href="/salir/">Cerrar Sesión</a></li>
								        </ul>
							      	</li>
							    {% else %}
							   		<li><a id="iniciar-sesion" href="/ingresar/">Ingresar</a></li>
				            		<li><a href="/registro/">Registrarse</a></li>
							    {% endif %}
						    </ul>
			        	</nav>
		          	</div>
		        </div>
	      	</div>
	    </div>
    </div>
   
    	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    	<ol class="carousel-indicators">
    		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
        	<li data-target="#myCarousel" data-slide-to="2"></li>
      	</ol>
    	<div class="carousel-inner">
        	<div class="item active">
          		<img id="baner1" src="{{STATIC_URL}}img/baner1.jpg"  alt="First slide" />
              	<img id="baner_movil1" src="{{STATIC_URL}}img/baner_movil1.jpg" alt="First slide" />
      			<div class="container">
        			<div class="carousel-caption">
          				<h1>Paper and More</h1>
          				<p></p>
        			</div>
      			</div>
        	</div>
        	<div class="item">
          		<img id="baner2" src="{{STATIC_URL}}img/baner2.jpg" alt="Second slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>Paper and More | MegaStore</h1>
              			<p></p>
            		</div>
          		</div>
        	</div>
        	<div class="item">
          		<img id="baner3" src="{{STATIC_URL}}img/baner3.jpg" alt="Third slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>Paper and More Soporte Ténico</h1>
              			<p></p>
            		</div>
          		</div>
        	</div>
      	</div>
      	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!--CONTENIDO -->
    <section class="contenedor container">
    {% block contenido %}{% endblock %}
    <div id="list_carousel" class="row">
		<article class="list_carousel row">
			<div class="row">
				<div class="hidden-xs col-sm-1">
					<a id="prev2" class="prev" href="#"><span class="icon icon-flechitaizquierda"></span></a>
				</div>
				<div class="col-sm-11">
					<ul id="carouMarcas">
						{% for marca in marcas %}
						<li>
							<a href="/marcas/{{marca.id}}"><img src="{{MEDIA_URL}}{{marca.Logotipo}}" class="img-thumbnail" alt="{{marca.Marca}}"></a>
						</li>
						{% endfor %}
					</ul>	
				</div>
				<div class="hidden-xs col-sm-1">
					<a id="next2" class="next" href="#"><span class="icon icon-flechitaderecha"></span></a>
				</div>
			</div>
		</article>
    </div>
    <!--Modal Horario-->
    <div class="modal fade" id="myModalHorarioServicio">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Horarios de Servicio</h4>
	      		</div>
	      		<div class="modal-body">
	      			<figure>
	      				<img src="{{STATIC_URL}}img/reloj2.png" alt="Horario" class="img-responsive">
	      			</figure>
	      			<div class="horarios">
	      				<table class="table">
	      					<tbody>
	      						<tr><td>Lunes-Viernes</td><td>8:00 a.m. - 6:00 p.m.</td></tr>
	      						<tr><td>Sábados</td><td>8:00 a.m. - 5:00 p.m.</td></tr>
	      					</tbody>
	      				</table>
	      			</div>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--Modal Empleos-->
    <div class="modal fade" id="myModalEmpleos">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Empleos</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="media">
					  	<a class="pull-left hidden-xs" href="#">
					    	<img class="media-object" src="{{STATIC_URL}}img/empleos.jpg" alt="...">
					  	</a>
					  	<div class="media-body">
					    	<h4 class="media-heading">¿Quieres formar parte de nuesto equipo de trabajo?</h4>
					    	<p  class="text-justify">Si te interesan las áreas de mercadeo, ventas y soporte técnico; puedes aplicar enviandonos tu hoja de vida a la siguiente dirección de correo electrónico: <a href="mailto:empleos@pm.hn">empleos@pm.hn</a>, especificando cual de las siguientes modalidades de empleos te interesan</p>
					    	<div class="espacio"></div>
					    	<ul>
					    		<li>Voluntario – Aprendiz por corto tiempo ó periodo de vacaciones</li>
					    	</ul>
					  	</div>
					</div>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      		</div>
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--Modal Horario-->
    <div class="modal fade" id="myModalRecomendacion">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Recomendar esta página a un amigo</h4>
	      		</div>
	      		<form id="formularioEmail" role="form" method="post" action="/enviar-email/">
		      		<div class="modal-body">
		      			{% csrf_token %}
                        <div class="form-group">
                            <label>Para:</label>
                            <input type="text" class="form-control" id="id_amigo" name="amigo">
                        </div>
                        <div class="form-group">
                            <label>De:</label>
                            <input type="text" class="form-control" id="id_correo" name="correo">
                        </div>
                        <div class="form-group">
                            <label>Mensaje:</label>
                            <textarea cols="40" id="id_mensaje" name="mensaje" rows="10" class="form-control" required="required"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_url" name="url"/>
                        </div>
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        		<button type="submit" class="btn btn-default">Enviar</button>
		      		</div>
		      	</form>
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    </section>
	{% csrf_token %}
	<footer>
		<div id="contenido-foot">
			<article id="caja1-foot">
				<div>
					<a href="https://twitter.com/papermore" target="_blank">
						<img src="{{STATIC_URL}}img/twitterpapermore.png" alt="twitter">
					</a>	
				</div>
				<div>
					<a href="https://www.facebook.com/paperandmore.hn" target="_blank">
						<img src="{{STATIC_URL}}img/facebook_papermore.png" alt="facebook">
					</a>
				</div>
			</article>
			<article id="caja2-foot">
				<p>
					<a href="/ofertas/">Promociones y Ofertas</a> |
					<a href="/destacados/">Destacados</a> |
					<a href="/marcas/">Marcas</a> |
					<a href="/contactanos/">Contactanos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalEmpleos">Empleos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalRecomendacion">Recomendar a un amigo</a> |
					<a href="#">Privacidad y Seguridad</a> |
					<a href="#" data-toggle="modal" data-target="#myModalHorarioServicio">Horarios de Servicio</a> |
					<a href="/faq/">FAQ</a> |
				</p>
			</article>
			<article id="caja3-foot">
				<div>
					<img src="{{STATIC_URL}}img/isv_incluido.png" alt="ISV">
				</div>
			</article>
		</div>
	</footer>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle2.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/webflow.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/tabs.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.carouFredSel.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/lightview.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/spinners.min.js"></script>
	<div id="fb-root"></div>
	{% block js %}{% endblock js %}
	<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
	<script>
	</script>
	
</body>
</html>