<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carousel.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pm.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/webflow.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/slider_image.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carrito.css"
	<link rel="shortcut icon" href="{{STATIC_URL}}img/icono.png">
	
</head>
<body>
	<header>
		<section>
			<article id="logo">
				<figure>
					<img src="{{STATIC_URL}}img/logo-paper.jpg" alt="Paper & More">
				</figure>
				<figure>
					<img src="{{STATIC_URL}}img/logo-megastore.jpg" alt="Paper & More">
				</figure>
			</article>
			<article id="buscar">
				<label>Llámenos 12345678</label>
				<form class="form-inline" role="form" method="post" action="/buscar/">{% csrf_token %}
				  <div class="form-group">
				    <input type="text" class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar...">
				  </div>
				  <button type="submit" id="btnBuscar" class="btn btn-primary">Buscar</button>
				</form>
			</article>
		</section>
	</header>

<!--Menú-->
	<div id="contenedor-menu">
		<div class="navbar-wrapper">
	      	<div class="container">
		        <div class="navbar navbar-inverse navbar-static-top">
		          	<div class="container">
			            <div class="navbar-header">
			            	<button type="button" class="navbar-toggle menu-item" data-toggle="collapse" data-target=".navbar-collapse">
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			              	</button>
			              	<a id="btnPM" class="navbar-brand">P&M</a>
			            </div>
			        	<nav id="menu" class="navbar-collapse collapse">
			        		<ul class="nav navbar-nav">
			            		<li class="active"><a href="/">Inicio</a></li>
			            		<li><a href="/marcas/">Marcas</a></li>
			            		<li class="dropdown">
			            			<a id="btnProductos" href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
			            			<ul class="dropdown-menu" id="categorias-productos"></ul>
		                		</li>
			          		</ul>
			          		<ul class="nav navbar-nav navbar-right">
			          			{% if centinela == True %}
			          				<li><a href="/carrito/">Carrito [<span id="total-item"></span>]</a></li>
							      	<li class="dropdown">
							        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{usuario.username|capfirst}} <b class="caret"></b></a>
								        <ul class="dropdown-menu">
								          <li><a href="/perfil-usuario/">Mi Perfil</a></li>
								          <li><a href="/salir/">Cerrar Sesión</a></li>
								        </ul>
							      	</li> 
							      	<input type="hidden" name="usuario" value="{{usuario.username}}">
							    {% else %}
							   		<li><a id="iniciar-sesion" href="/ingresar/">Ingresar</a></li>
				            		<li><a href="/registro/">Registrarse</a></li>
				            		<li><a href="/carrito/">Carrito</a></li>
							    {% endif %}
						    </ul>
			        	</nav>
		          	</div>
		        </div>
	      	</div>
	    </div>
    </div>
	{% block contenido %}
	{% endblock %}
	{% csrf_token %}
	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id='modal-ventana' class="modal-dialog"></div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	<footer>
		<div id="contenido-foot">
			<article id="caja1-foot">
				<div>
					<a href="https://twitter.com/papermore" target="_blank">
						<img src="{{STATIC_URL}}img/twitterpapermore.png" alt="twitter">
					</a>	
				</div>
				<div>
					<a href="https://www.facebook.com/paperandmore.hn" target="_blank">
						<img src="{{STATIC_URL}}img/facebook_papermore.png" alt="facebook">
					</a>
				</div>
			</article>
			<article id="caja2-foot">
				<p>
					<a href="/ofertas/">Promociones y Ofertas</a> |
					<a href="#">Empleos</a> |
					<a href="#">Recomendar a un amigo</a> |
					<a href="#">Privacidad y Seguridad</a> |
					<a href="#">Horarios de Servicio</a> |
				</p>
			</article>
			<article id="caja3-foot">
				<div>
					<img src="{{STATIC_URL}}img/isv_incluido.png" alt="ISV">
				</div>
			</article>
		</div>
	</footer>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle2.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/webflow.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.all.js"></script>
</body>
</html>