<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{% block metadata %}{% endblock %}
	<title>{% block titulo %}{% endblock %}</title>
	<link href="{{STATIC_URL}}css/prueba/styles.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carousel.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/normalize.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pm.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilo.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/slider_image.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carrito.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pm_estilo.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tabs.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/carouFredSel.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/range.css">
	<link href="{{STATIC_URL}}css/prueba/timeTo.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilo_imprimir.css" media="print">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/icono.ico" type="image/x-icon">
	{% block style %}{% endblock %}
	<style>
	/*
		.thumbnail form button, .producto-caja-btn .btn-primary{
			display: none;
		}
		*/

		
	</style>
</head>
<body>
<!--Encabezado -->
	<header class="navbar-wrapper">
    	<div class="container">
        	<div id="logos" class="col col-xs-12 col-sm-7 col-md-5 col-lg-5">
          		<figure class="col col-xs-6 col-sm-6 col-md-6">
            		<img src="{{STATIC_URL}}img/logo-paper.jpg" class="img-responsive" alt="">
          		</figure>
          		<figure id="logo-megastore" class="col col-xs-6 col-sm-6 col-md-6">
            		<img src="{{STATIC_URL}}img/logo-megastore.jpg" class="img-responsive" alt="">
          		</figure>
        	</div>
        	<div id="busca" class="busca col col-xs-12 col-sm-4 col-md-4 pull-right text-right no-print">
          		<form class="form-inline" role="form" method="GET" action="/buscar/">
          			<label>Llámenos (+504) 2780-5200</label>
          			<div class="input-group input-group-sm ">
            			<input type="text" class="form-control" name="txtBuscar" placeholder="Escriba aquí">
            			<span class="input-group-btn">
              				<button id="btnBuscar" class="btn btn-info" type="submit">Buscar</button>
            			</span>
			  			<input type="hidden" name="pagina" value="1">
          			</div><!-- /input-group -->
          		</form>
        	</div>
      	</div>
    </header>
<!--Fin Encabezado -->
<!--Menú-->
	<div id="contenedor-menu">
		<div class="navbar-wrapper">
	      	<div class="">
		        <div class="navbar navbar-inverse navbar-static-top">
		          	<div class="container">
			            <div class="navbar-header">
			            	<button type="button" class="navbar-toggle menu-item" data-toggle="collapse" data-target=".navbar-collapse">
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			                	<span class="icon-bar"></span>
			              	</button>
			              	<a id="btnPM" class="navbar-brand">P&amp;M</a>
			            </div>
			        	<nav id="menu" class="navbar-collapse collapse">
			        		<ul class="nav navbar-nav">
			            		<li class="active"><a href="/">Inicio</a></li>
			            		<li><a href="/marcas/">Marcas</a></li>
			            		<li class="dropdown">
			            			<a id="btnProductos" href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
			            			<ul class="dropdown-menu" id="categorias-productos"></ul>
		                		</li>
		                		<li class="dropdown">
			            			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quienes somos <b class="caret"></b></a>
			            			<ul class="dropdown-menu">
			            				<li><a href="/mision_vision/">Misión y Visión</a></li>
							          	<li><a href="/politica/">Politicas</a></li>
							           	<li><a href="/contactanos/">Contáctanos</a></li>
							          	<li><a href="#">Ayuda</a></li>
			            			</ul>
		                		</li>
			          		</ul>
			          		<ul class="nav navbar-nav navbar-right">
			          			{% if centinela == True %}
			          				<li>
			          					<a href="/carrito/">
			          						<span class='icon-carrito icon-carritocart'></span> [<span id="total-item"></span>]
			          					</a>
			          				</li>
							      	<li class="dropdown">
							        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{usuario.username|capfirst}} <b class="caret"></b></a>
								        <ul class="dropdown-menu">
								         	<li><a href="/perfil-usuario/">Mi Perfil</a></li>
								          	<li><a href="/historial-de-compra/">Historial de Compra</a></li>
								           	<li><a href="/historial-de-credito/">Historial de Crédito</a></li>
								          	<li><a href="/salir/">Cerrar Sesión</a></li>
								        </ul>
							      	</li>
							    {% else %}
							   		<li><a id="iniciar-sesion" href="/ingresar/">Ingresar</a></li>
				            		<li><a href="/registro/">Registrarse</a></li>
							    {% endif %}
						    </ul>
			        	</nav>
		          	</div>
		        </div>
	      	</div>
	    </div>
    </div>
   
    	<!-- Carousel
    ================================================== -->

   
    <!--div id="myCarousel" class="carousel slide" data-ride="carousel">
    	<ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
    	<div class="carousel-inner">
    		{% for item in banner %}
    			<div class="item">
    				{% if item.url %}
    					<a href="{{item.url}}" target="_blank">
    				{% else %}
    					<a>
    				{% endif %}
	          			<img src="{{MEDIA_URL}}{{item.imagen_pc}}" class="visible-sm visible-md visible-lg"  alt="First slide" />
	              		<img  src="{{MEDIA_URL}}{{item.imagen_movil}}" class="visible-xs" alt="First slide" />
	          		</a>
	        	</div>
    		{% endfor %}
      	</div>
      	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon icon-flechitaizquierda"></span></a>
    	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon icon-flechitaderecha"></span></a>
    </div--><!-- /.carousel -->

    <!--CONTENIDO -->
    <section class="contenedor container">
    	{% block contenido %}{% endblock %}
    	<div id="list_carousel" class="row no-print">
			<article class="list_carousel row">
				<div class="row">
					<div class="hidden-xs hidden-sm col-sm-1">
						<a id="prev2" class="prev" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
					</div>
					<div class="col-sm-12 col-md-11">
						<ul id="carouMarcas">
							{% for marca in marcas %}
							<li>
								<a href="/marcas/{{marca.id}}"><img src="{{MEDIA_URL}}{{marca.Logotipo}}" class="img-thumbnail" alt="{{marca.Marca}}"></a>
							</li>
							{% endfor %}
						</ul>	
					</div>
					<div class="hidden-xs hidden-sm col-sm-1">
						<a id="next2" class="next" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</article>
	    </div>
    </section>
    <!--Modal Horario-->
    <div class="modal fade" id="myModalHorarioServicio">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Horarios de Servicio</h4>
	      		</div>
	      		<div class="modal-body">
	      			<figure>
	      				<img src="{{STATIC_URL}}img/reloj2.png" alt="Horario" class="img-responsive">
	      			</figure>
	      			<div class="horarios">
	      				<table class="table">
	      					<tbody>
	      						<tr><td>Lunes - Viernes</td><td>8:00 a.m. - 6:00 p.m.</td></tr>
	      						<tr><td>Sábados</td><td>8:00 a.m. - 5:00 p.m.</td></tr>
	      					</tbody>
	      				</table>
	      			</div>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btncerrarModal" data-dismiss="modal">Cerrar</button>
	      		</div>
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--Modal Empleos-->
    <div class="modal fade" id="myModalEmpleos">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Empleos</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="media">
					  	<a class="pull-left hidden-xs" href="#">
					    	<img class="media-object" src="{{STATIC_URL}}img/empleos.jpg" alt="...">
					  	</a>
					  	<div class="media-body">
					    	<h4 class="media-heading">¿Quieres formar parte de nuesto equipo de trabajo?</h4>
					    	<p  class="text-justify">Si te interesan las áreas de mercadeo, ventas y soporte técnico; puedes aplicar enviandonos tu hoja de vida a la siguiente dirección de correo electrónico: <a href="mailto:empleos@pm.hn">empleos@pm.hn</a>, especificando cual de las siguientes modalidades de empleos te interesan</p>
					    	<div class="espacio"></div>
					    	<ul>
					    		<li>Voluntario – Aprendiz por corto tiempo ó periodo de vacaciones</li>
					    		<li>Voluntario – Aprendiz a mediano plazo; hasta 6 meses</li>
					    		<li>Voluntario – Aprendiz a mediano plazo; hasta 6 meses con opción de continuar</li>
					    		<li>Medio tiempo con paga</li>
					    		<li>Por Contrato con paga</li>
					    	</ul>
					  	</div>
					</div>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btncerrarModal" data-dismiss="modal">Cerrar</button>
	      		</div>
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--Modal Recomendar Amigo-->
    <div class="modal fade" id="myModalRecomendacion" role="dialog">
	  	<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        		<h4 class="modal-title">Recomendar esta página a un amigo</h4>
	      		</div>
	      		<div class="modal-body">
	      			<form id="formularioEmail" role="form" method="post" action="/enviar-email/">{% csrf_token %}
		      			<div class="col col-xs-12 col-sm-12 col-md-12">
		      				<div class="input-group">
		      					<span class="input-group-addon">@</span>
	                            <input type="email" class="form-control input-lg" id="id_amigo" name="amigo" placeholder="Para:">
		      				</div>
	                    </div>
		      			<div class="col col-xs-12 col-sm-12 col-md-12">
		      				<div class="input-group">
		      					<span class="input-group-addon">@</span>
	                            <input type="text" class="form-control input-lg" id="id_correo" name="correo" placeholder="De:">
		      				</div>
	                    </div>
			      		<div class="form-group">
		                    <textarea cols="30" id="id_mensaje" name="mensaje" rows="5" class="form-control input-lg" placeholder="Escriba aquí su mensaje" required></textarea>
	                    </div>
	                    {% if detalle %}
	                    	<input type="hidden" id="id_url" name="url" value="{{url}}" />
	                    {% else %}
                        	<input type="hidden" id="id_url" name="url"/>
	                    {% endif %}
                        <div class="form-group">
	        				<button type="button" class="btn btncerrarModal" data-dismiss="modal">Cerrar</button>
	        				<button type="submit" class="btn btnaceptarModal">Enviar</button>
                        </div>
		      		</form>
	      		</div><!--Fin modal-body -->
	   		</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	{% csrf_token %}
	<footer class="no-print">
		<div class="container hidden-xs">
			<div class="col col-xs-3 col-sm-3 col-md-3 text-center">
				<figure id="ico-twitter" class="col col-xs-6 col-6 col-md-6 text-right">
					<a href="https://twitter.com/papermore" target="_blank">
						<img src="{{STATIC_URL}}img/t_logo.png" alt="twitter">
					</a>
				</figure>
				<figure id="ico-facebook" class="col col-xs-6 col-sm-6 col-md-6 text-left">
					<a href="https://www.facebook.com/paperandmore.hn" target="_blank">
						<img src="{{STATIC_URL}}img/f_logo.png" alt="facebook">
					</a>
				</figure>
			</div>
			<div class="col col-xs-6 col-sm-6 col-md-6">
				<p class="text-center">
					<a href="/ofertas/">Promociones y Ofertas</a> |
					<a href="/destacados/">Destacados</a> |
					<a href="/novedades/">Novedades</a> |
					<a href="/marcas/">Marcas</a> |
					<a href="/contactanos/">Contactanos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalEmpleos">Empleos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalRecomendacion">Recomendar a un amigo</a> |
					<a href="#">Privacidad y Seguridad</a> |
					<a href="#" data-toggle="modal" data-target="#myModalHorarioServicio">Horarios de Servicio</a> |
					<a href="/faq/">FAQ</a> |
				</p>
			</div>
			<div class="col col-xs-3 col-sm-3 col-md-3 text-center">
				<figure class="col col-xs-12 col-sm-12 col-md-12">
					<img src="{{STATIC_URL}}img/impuesto.png" alt="ISV">
				</figure>
			</div>
		</div>
		<div class="container visible-xs">
			<div class="col col-xs-6 text-center">
				<figure id="ico-twitter" class="col col-xs-6 col-6 col-md-6 text-right">
					<a href="https://twitter.com/papermore" target="_blank">
						<img src="{{STATIC_URL}}img/t_logo.png" alt="twitter">
					</a>
				</figure>
				<figure id="ico-facebook" class="col col-xs-6 col-sm-6 col-md-6 text-left">
					<a href="https://www.facebook.com/paperandmore.hn" target="_blank">
						<img src="{{STATIC_URL}}img/f_logo.png" alt="facebook">
					</a>
				</figure>
			</div>
			<div  id="img-isv" class="col col-xs-6 text-center">
				<figure class="col col-xs-12 col-sm-12 col-md-12">
					<img src="{{STATIC_URL}}img/impuesto.png" alt="ISV">
				</figure>
			</div>
			<div id="enlaces" class="col col-xs-12">
				<p class="text-center">
					<a href="/ofertas/">Promociones y Ofertas</a> |
					<a href="/destacados/">Destacados</a> |
					<a href="/novedades/">Novedades</a> |
					<a href="/marcas/">Marcas</a> |
					<a href="/contactanos/">Contactanos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalEmpleos">Empleos</a> |
					<a href="#" data-toggle="modal" data-target="#myModalRecomendacion">Recomendar a un amigo</a> |
					<a href="#">Privacidad y Seguridad</a> |
					<a href="#" data-toggle="modal" data-target="#myModalHorarioServicio">Horarios de Servicio</a> |
					<a href="/faq/">FAQ</a> |
				</p>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/prueba/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/carousel.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/holder.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.all.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/tabs.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.carouFredSel.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/lightview.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/spinners.min.js"></script>
	<script src="{{STATIC_URL}}js/prueba/zozo.min.js"></script>
	<script src="{{STATIC_URL}}js/prueba/jquery.timeTo.min.js"></script> 
	<div id="fb-root"></div>
	{% block js %}{% endblock js %}
	<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//v2.zopim.com/?25OgKCZ2LQ0Hy9SxLlro2eaI8dRrf0LX';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	</script>
	<!--End of Zopim Live Chat Script-->	
</body>
</html>