{% extends 'base.html' %}
{% block titulo %}Datos del carrito{%  endblock %}
{% block contenido %}
	<div class="w-clearfix section contenido">
		<div class="inicio-caja1">
			<div class="contenido-paginas">
				
			</div>
			<div class="cotenido-paginas">
				<section class="pagina-contenido-caja">
					<article class="pagina-caja1-1">
						<div class="cotenido-paginas"><h4 class="titulo h4">Carrito de Compras</h4></div>
					</article>
					<article class="mensaje"></article>
					<article class="items-carrito items-en-carrito"></article>  
				</section>
				<section id="section-carrito" class="pagina-contenido-caja2">
                    <div id="detalle-carrito">
                        <div class="cotenido-paginas contenido-carrito">
                            <h4 class="titulo h4">Carrito</h4>
                        </div>
                        <article class="total-item-carrito"></article>
                    </div>
                </section>
			</div>
		</div>
	</div>
{% endblock %}