
{% for elemento in datos %}
	{% load humanize %}
    <div class="producto-elemento col-xs-6 col-sm-6 col-md-4">
    	<div class="thumbnail">
            {% for imagen in detalle_img%}
                {% if imagen.Producto == elemento %}
                    {% if forloop.first %}
                    <a href="/detalle-producto/{{elemento.pk}}"><img src="{{MEDIA_URL}}{{imagen.Imagen}}" class="img-thumbnail"></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
      		<div class="caption">
        		<h3 class="nombre-producto">{{elemento.Descripcion|truncatewords:4|safe}}</h3>
        		<p class="caption-precio">L.{{elemento.Precio|intcomma}}</p>
        		<form method="post" action="/agregar-carrito/">{% csrf_token %}
        			<input type="hidden" value="{{elemento.pk}}" name="Producto">
        			<input type="hidden" value="1" name="Cantidad">
        			<p class="producto-caja-btn">
        			<button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button>
        			<!--a href="#" class="btn btn-primary" role="button"><span class='icon-carrito icon-carritocart'></a--> <a href="/detalle-producto/{{elemento.pk}}" class="btn btn-default" role="button">Detalles</a></p>
        			
        		</form>
      		</div>
    	</div>
  	</div>
{% endfor %}