{% extends 'base.html' %}
{% block titulo %}Paper & More - Contactanos{% endblock %}
{% block contenido %}
	<div class="row">
			<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Contactanos</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<div class="row">
						<!-- ACORDEON -->
						<div class="panel-group" id="accordion">
						{% for elemento in contactos %}
								<div class="panel panel-default">
									<div class="panel-heading">
								    	<h4 class="panel-title">
								        	<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{elemento.pk}}">{{elemento.nombre}} - {{elemento.cargo}}</a>
								      	</h4>
								    </div>
								    <div id="collapse{{elemento.pk}}" class="panel-collapse collapse">
								    	<div class="panel-body">
								    		<p>{{elemento.cargo}}</p>
								    		<p><a href="mailto:{{elemento.email}}">{{elemento.email}}</a></p>
								    		<p><a href="mailto:{{elemento.email2}}">{{elemento.email2}}</a></p> 
								    		<p>{{elemento.telefono}}</p>
								      	</div>
								    </div>
								 </div>		
						<div class="espacio"></div>
						{% endfor %}
						</div>
				</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure id="s2" class="s2 demo">
	                                {% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
		                                {% endif %}
		                            {% endfor %}
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure id="s2" class="s2 demo">
	                                {% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
		                                {% endif %}
		                            {% endfor %}
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure id="s2" class="s2 demo">
	                                {% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
		                                {% endif %}
		                            {% endfor %}
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			
		</article>
	</div>
{% endblock %}