{% extends 'base.html' %}
{% load thumbnail %}
{% block titulo %}Paper &amp; More - Productos Destacados{% endblock %}
{% block js %}
	<script>
		$.ajax({
			type: 'POST',
			url: '/obtener-precios/',
			data: {
				'productos':'2',
				'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
			},
			success: function(data){
				$('.precioMin').attr('value', data.precioMenor);
				$('.precioMin').attr('min', data.precioMenor);
				$('.precioMin').attr('max', data.mitad);
				$('.precioMax').attr('max', data.precioMayor);
				$('.precioMax').attr('min', data.mitad);
				$('.precioMax').attr('value', data.precioMayor);
			},
			dataType: 'JsON'
		});

		function cargarValor2() {
			$('.range2value').val("L. " + conComas($('.precioMax').val()) + ".00");
		}

		function cargarValor1() {
			$('.range1value').val("L. " + conComas($('.precioMin').val()) + ".00");
		}

		$('.precioMin').on('change', function() {
			cargarProductos();
			cargarValor1();
		});

		$('.precioMax').on('change', function() {
			cargarProductos();
			cargarValor2();
		});

		$('#selectMarcas').on('change', function() {
			cargarProductos();
		});

		$('#selectExistencia').on('change', function() {
			cargarProductos();
		});

		function cargarProductos() {
			$.ajax({
				type: 	'POST',
				url: 	'/filtro-destacados/',
				data: 	{
					'marca': $('select[name="marca"]').val(),
					'existencia': $('.existencia').val(),
					'precioMinimo': $('.precioMin').val(),
					'precioMaximo': $('.precioMax').val(),
					'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
				},
				success: function(data){
					$('#resultadoFiltro').html(data);
				},
				dataType: 'html'
			});
		}

		function conComas(valor) {
		    var nums = new Array();
		    var simb = ","; //Éste es el separador
		    valor = valor.toString();
		    valor = valor.replace(/\D/g, "");   //Ésta expresión regular solo permitira ingresar números
		    nums = valor.split(""); //Se vacia el valor en un arreglo
		    var long = nums.length - 1; // Se saca la longitud del arreglo
		    var patron = 3; //Indica cada cuanto se ponen las comas
		    var prox = 2; // Indica en que lugar se debe insertar la siguiente coma
		    var res = "";
		 
		    while (long > prox) {
		        nums.splice((long - prox),0,simb); //Se agrega la coma
		        prox += patron; //Se incrementa la posición próxima para colocar la coma
		    }
		 
		    for (var i = 0; i <= nums.length-1; i++) {
		        res += nums[i]; //Se crea la nueva cadena para devolver el valor formateado
		    }
		 
		    return res;
		}
	</script>
{% endblock %}
{% block contenido %}
		<div class="row filtro-marcas">
			<form class="form-inline" role="form">
			  	<div class="col-sm-12">
			  		{% if totalProductos > 0 %}
					<div class="filtro-top col-xs-12 col-sm-6 col-md-3 col-lg-3">
					    <select name="marca" id="selectMarcas" class="filtroSelect form-control" required>
							<option value="0">TODAS LAS MARCAS...</option>
					  		{% for marca in listaMarcas %}
				    			<option value="{{marca.pk}}">{{marca.Marca}}</option>
					  		{% endfor %}
				    	</select>
			    	</div>
			    	{% endif %}
					{% if existencia1 > 0  and existencia2 > 0 %}
					<div class="filtro-top col-xs-12 col-sm-6 col-md-3 col-lg-3">
				    	<select name="existencia" id="selectExistencia" class="filtroSelect existencia form-control" required>
							<option value="0">TODOS...</option>
				    		<option value="1">CON EXISTENCIAS</option>
				    		<option value="2">SIN EXISTENCIAS</option>
				    	</select>
					 </div>
					 {% else %}
					 	<input type="hidden" class="existencia" name="existencia" value="0">
				   	{% endif %}
				</div>
				{% if totalProductos > 0 %}
				<div class="col-sm-12">
				   	<div class="filtro-top col-xs-12 col-md-3 col-lg-3">
				   		<label>Precio Mínimo:</label>
				   		<input class="range precioMin" type="range" step="1"/>
				   		<output class="range1value" ></output>
				   	</div>
				   	<div class="filtro-top col-xs-12 col-md-3 col-lg-3">
				   		<label>Precio Máximo:</label>
				   		<input class="range precioMax" type="range" step="1" />
				   		<output class="range2value" ></output>
				   	</div>
				</div>
				{% endif %}
			</form>
		</div>
		<div class="row">
			<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
				<div class="contenido-titulo row">
					<h2 class="titulo">Productos Destacados</h2>
				</div>
				<div id="resultadoFiltro"  class="row">
					<article class="cuerpo-contenido row">
						{% for elemento in productos %}
					   	<div class="producto-elemento col-xs-6 col-sm-6 col-md-4">
					    	<div class="thumbnail">
				    		{% if elemento.Oferta %}
				                <img src="{{STATIC_URL}}img/img_oferta.png" class="img_oferta">
				            {% endif %}
								<a href="/detalle-producto/{{elemento.Codigo}}">
									{% thumbnail elemento.Imagen 236x180 upscale as thumb %}
                					<img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.heigth }}" class="img-thumbnail">
								</a>
				      			<div class="caption">
				        			<h3 class="nombre-producto">{{elemento.Descripcion|truncatewords:10}}</h3>
				        			<p class="caption-precio">L. {{elemento.Precio}}</p>
				        			<form method="post" action="/agregar-carrito/">{% csrf_token %}
				        				<input type="hidden" value="{{elemento.Codigo}}" name="Producto">
				        				<input type="hidden" value="1" name="Cantidad">
				        				<p class="producto-caja-btn">
				        					<button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{elemento.Codigo}}" class="btn btn-default" role="button">Detalles</a>
				        				</p>
				        			
				        			</form>
				      			</div>
				    		</div>
					  	</div>
					  	{% empty %}
					 		<div class="alert alert-warning">
								<h3>No hay productos Destacados.</h3>
							</div>
						{% endfor %}
					</article>
					{% if totalProductos > 18 %}
					<article class="cuerpo-contenido row paginacion">
						<ul class="pagination">
							<li class="{% if not productos.has_previous %}disabled{% endif %}">
								{% if not productos.has_previous %}
									<a id="regresaUno" class="">Inicio</a>
								{% else %}
									<a id="regresaUno" href="?page=1" class="">Inicio</a>
								{% endif %}
							</li>
							<li class="{% if not productos.has_previous %}disabled{% endif %}">
								{% if not productos.has_previous %}
									<a class="">Anterior</a>
								{% else %}
									<a href="?page={{productos.previous_page_number}}" class="">Anterior</a>
								{% endif %}
							</li>
							{% for page in page_number %}
								{% if page == productos.number %}
									
										<li class="active"><a class="visible-lg">{{page}}</a></li>
									
								{% else %}
									<li><a class="visible-lg" href="?page={{ page }}">{{ page }}</a></li>
								{% endif %}
							{% endfor %}
							<li class="{% if not productos.has_next %}disabled{% endif %}">
								{% if not productos.has_next %}
									<a class="">Siguiente</a>
								{% else %}
									<a href="?page={{productos.next_page_number}}" class="" >Siguiente</a>
								{% endif %}
							</li>
							<li class="{% if not productos.has_next %}disabled{% endif %}">
								{% if not productos.has_next %}
									<a class="">Ultimo</a>
								{% else %}
									<a href="?page={{productos.paginator.num_pages}}" class="">Ultimo</a>
								{% endif %}
							</li>
						</ul>
					</article>
					{% endif %}
				</div>
			</article>
			<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
				{% for item in ofertas %}
					<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure id="s2" class="s2 demo">
		                            {% thumbnail item.Imagen 100x80 upscale as thumb %}
                                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.heigth }}" class="img-rounded">          
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row producto-filtro-lateral">
	            <div class="row">
	                <h2 class="titulo">Novedades</h2>
	            </div>
            	<div  class="cuerpo-contenido row">
                {% for item in novedades %}
	                <article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure id="s2" class="s2 demo">
		                            {% thumbnail item.Imagen 100x80 upscale as thumb %}
                                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.heigth }}" class="img-rounded">
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
                {% endfor %}
            	</div>
        	</div>
		</article>
		</div>
{% endblock %}