{% extends 'base.html' %}
{% block titulo %}Detalle Crédito{% endblock %}
{% block contenido %}
	<div class="row">
		<ol class="breadcrumb">
		 	<li><a href="/historial-de-credito/">Historial de Crédito</a></li>
		 	<li class="active">Detalle de Cŕedito</li>
		</ol>

		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Detalle de Crédito</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<div class="panel panel-default">
						<div class="panel-heading">Datos del Crédito</div>
					  	<div class="panel-body">
					    	<div class="table-responsive">
							 	<table class="table">
							 		<thead>
							 			<tr>
								 			<th>Fecha</th>
								 			<th>Plazo (meses)</th>
								 			<th>Valor</th>
								 			<th>Cuota</th>
							 			</tr>
							 		</thead>
							 		<tbody>
							 			<tr>
							 				<td>{{credito.Fecha}}</td>
							 				<td>{{credito.Plazo}}</td>
							 				<td>L. {{credito.Monto}}</td>
							 				<td>L. {{credito.Cuota}}</td>
							 			</tr>
							 		</tbody>
							  	</table>
							</div>
					  	</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Detalle de Pagos realizados</div>
					  	<div class="panel-body">
					    	<div class="table-responsive">
							 	<table class="table">
							 		<thead>
							 			<tr>
								 			<th>Cuota #</th>
								 			<th>Valor a pagar</th>
								 			<th>Mora</th>
								 			<th>Valor Cancelado</th>
								 			<th>Fecha de Pago</th>
							 			</tr>
							 		</thead>
							 		<tbody>
							 			{% for pago in pagos %}
							 				{% if pago.Estado == True %}
								 			<tr>
								 				<td>{{pago.Cuota}}</td>
								 				<td>{{pago.Valor_Cuota}}</td>
								 				<td>L. {{pago.Mora}}</td>
								 				<td>L. {{pago.Total_Pagado}}</td>
								 				<td>L. {{pago.Fecha_Vencimiento}}</td>	
								 			</tr>
								 			{% endif %}
							 			{% endfor %}
							 		</tbody>
							  	</table>
							</div>
					  	</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Detalle de Pagos Pendientes</div>
					  	<div class="panel-body">
					    	<div class="table-responsive">
							 	<table class="table">
							 		<thead>
							 			<tr>
								 			<th>Cuota #</th>
								 			<th>Fecha de Vencimiento</th>
								 			<th>Valor a pagar</th>
								 			<th>Mora</th>
								 			<th>Valor Cancelado</th>
							 			</tr>
							 		</thead>
							 		<tbody>
							 			{% for pago in pagos %}
							 				{% if pago.Estado == False %}
								 			<tr>
								 				<td>{{pago.Cuota}}</td>
								 				<td>L. {{pago.Fecha_Vencimiento}}</td>
								 				<td>{{pago.Valor_Cuota}}</td>
								 				<td>L. {{pago.Mora}}</td>
								 				<td>L. {{pago.Total_Pagado}}</td>
								 			</tr>
								 			{% endif %}
							 			{% endfor %}
							 		</tbody>
							  	</table>
							</div>
					  	</div>
					</div>
				</article>
			</div>
		</article>

<!--Contenido de barra lateral -->
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
								<img src="{{MEDIA_URL}}{{item.Imagen}}">
								{% for img in detalle_img %}
									{% if img.Producto == item %}
										<img src="{{MEDIA_URL}}{{img.Imagen}}">
									{% endif %}
								{% endfor %}
							</figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
								<img src="{{MEDIA_URL}}{{item.Imagen}}">
								{% for img in detalle_img %}
									{% if img.Producto == item %}
										<img src="{{MEDIA_URL}}{{img.Imagen}}">
									{% endif %}
								{% endfor %}
							</figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
								<img src="{{MEDIA_URL}}{{item.Imagen}}">
								{% for img in detalle_img %}
									{% if img.Producto == item %}
										<img src="{{MEDIA_URL}}{{img.Imagen}}">
									{% endif %}
								{% endfor %}
							</figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
		</article>
	</div>
{% endblock %}