{% extends 'base.html' %}
{% block titulo %}Detalle de Producto{% endblock %}
{% block contenido %}
<div class="w-clearfix section contenido">
        <div class="inicio-caja1">
            <div class="cotenido-paginas">
                <section id="cuerpo-detalle" class="pagina-contenido-caja">
                    <article class="pagina-caja1-1">
                        <div class="cotenido-paginas"><h2 class="titulo">Detalles del producto</h2></div>
                    </article>
                    <article class="mensaje">
                        <div id="mensaje-carrito" class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Se agregaron {{cantidad}} productos al carrito... <a href="#" class="alert-link">Verifique su carrito</a>
                        </div>
                    </article>
                    <article id="caja-detalle" class="pagina-caja1-2">
                        <article class="slide_image">
                            <figure class="cycle-slideshow"
                                data-cycle-fx=scrollHorz
                                data-cycle-timeout=0
                                data-cycle-pager="#no-template-pager"
                                data-cycle-pager-template=""
                            >
                                <img src="{{MEDIA_URL}}{{detalle.Imagen}}" >
                                {% for imagen in detalle_img %}
                                    <img src="{{MEDIA_URL}}{{imagen.Imagen}}">
                                {% endfor %}
                            </figure>
                            <figure id="no-template-pager" class="cycle-pager external">
                                <img src="{{MEDIA_URL}}{{detalle.Imagen}}" width="20" height="20" class="active_img">
                                {% for imagen in detalle_img %}
                                    <img src="{{MEDIA_URL}}{{imagen.Imagen}}" width="20" height="20">
                                {% endfor %}
                            </figure>
                        </article>
                        <div id="detalle-descripcion">
                            <p>Descripción:&nbsp;{{detalle.Descripcion}}</p>&nbsp;
                            <p>Precio: L.{{detalle.Precio}}</p>&nbsp;
                            <p>En exitencia: {{detalle.Existencia}} unidades</p>&nbsp;
                            <form role="form" id="frmOrden" name="frmOrden" method="post" action="/agregar-carrito/">{% csrf_token %}
                              <div class="form-group col-sm-6">
                                <input class="form-control" type="number" id="txtCantidad" name="Cantidad" placeholder="Cantidad" min="1" value="1">
                              </div>
                              <div id="caja-btnComprar" class="form-group">
                                <button id="btnComprar" class="btn btn-success" type="submit"><span class='icon-carrito icon-carritocart' data-toggle="modal" data-target="#myModal"></span></button>
                                <!--input type="submit" id="btnComprar" class="btn btn-success" value="" /-->
                                <input type="hidden" id="hddProducto" name="Producto" value="{{ detalle.Codigo }}" /> 
                              </div>
                            </form>
                        </div>
                        <div class="detalle-footer">
                            <div class="social">
                                <div>
                                    <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width=20&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:125px; height:21px;" allowTransparency="true"></iframe>
                                </div>
                                <div id="twitter">
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es">Twittear</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                                    </script>
                                </div>
                            </div>
                            
                        </div>
                    </article>
                </section>
                <section id="section-carrito" class="pagina-contenido-caja2">
                    <div id="detalle-carrito">
                        <div class="cotenido-paginas contenido-carrito">
                            <h4 class="titulo h4">Carrito</h4>
                        </div>
                        <article class="total-item-carrito"></article>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}