{% extends 'base.html' %}
{% block titulo %}Detalle de Producto{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lightview.css">
    <style type="text/css" media="screen">
    
    .cycle-controles a{font-size: 30px;}
    .cycle-controles{
        text-align: center;
        padding: 5px;
    }
    .cycle-pager {
        text-align: right;
        padding-right: 5px;  
        position: relative; 
        overflow: hidden;
        }
    .cycle-pager span {
        font-family: arial; 
        font-size: 50px; 
        width: 16px;  
        display: inline-block; 
        color: #ddd; 
        cursor: pointer;
        }
    .cycle-pager span.cycle-pager-active { color: #D69746;}
    .cycle-pager > * { cursor: pointer;}

    .cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; font-weight: bold;}


    </style>
{% endblock %}
{% block js %}
    
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.slides.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script>
        $(document).on('ready', function(){
            $('#slides').slidesjs({
                pagination: {
                    active: true,
                },
                navigation: false,
                width: 940,
                height: 528
            });

            function imprSelec(muestra)
            {var ficha=document.getElementById(muestra);var ventimp=window.open(' ','popimpr');ventimp.document.write(ficha.innerHTML);ventimp.document.close();ventimp.print();ventimp.close();}
                });

            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=1375158249407034";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
{% block contenido %}
    <div class="row">
        <article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
            <div class="contenido-titulo row">
                <h2 class="titulo">Detalle del Producto</h2>
            </div>
            <div class="row">
                <div class="col col-sm-12 col-md-12">
                     <div id="muestra">
                    <article id="producto-detalle" class="cuerpo-contenido row">
                            <div class="row no-print social">
                                <div>
                                    <div class="fb-share-button" data-href="http://www.django.pm.hn/detalle-producto/{{detalle.Codigo}}" data-type="button"></div>
                                </div>
                                <div >
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="www.django.pm.hn/detalle-producto/{{detalle.Codigo}}" data-text="Visita nuestro sitio y conoce de nuestros precios" data-via="papermore" data-lang="es" data-count="none">Twittear</a>
                                </div>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                            </div>
                            <div id="print-imagen-producto">
                            <div class="col col-sm-5">
                                <!--Imagen Desktop -->
                                <div class="row hidden-xs">
                                    <figure class="img-thumbnail">
                                        {% if cantidad > 0 %}
                                            {% for imagen in imagenes %}
                                                {% if forloop.first %}
                                                   <img src="{{MEDIA_URL}}{{imagen.Imagen}}"/> 
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <img src="{{STATIC_URL}}img/sin_imagen.png">
                                        {% endif %}
                                    </figure>
                                    <figure class="row galeria no-print">
                                        {% if cantidad > 0 %}
                                            {% for imagen in imagenes %}
                                                <a href="{{MEDIA_URL}}{{imagen.Imagen}}" class="lightview" data-lightview-group="thumbnail-demo" data-lightview-group-options="controls: 'thumbnails'">
                                                    <img src="{{MEDIA_URL}}{{imagen.Imagen}}" width="20" height="auto" class="img-thumbnail">
                                                </a>
                                          
                                            {% endfor %}
                                        {% else %}
                                            <img src="{{STATIC_URL}}img/sin_imagen.png" width="20" height="auto" class="img-thumbnail">
                                        {% endif %}
                                    </figure>
                                </div>
                                <!--Imagen Movil -->
                                <div class="row visible-xs">
                                    <figure class="cycle-slideshow img-thumbnail" data-cycle-swipe=true data-cycle-fx=scrollHorz data-cycle-timeout=0 data-cycle-pager=".cycle-pager" data-cycle-prev=".cycle-prev" data-cycle-next=".cycle-next">
                                        {% if cantidad > 0 %}
                                            {% for imagen in imagenes %}
                                                    <img src="{{MEDIA_URL}}{{imagen.Imagen}}" class="img-rounded"/>
                                            {% endfor %}
                                        {% else %}
                                            <img src="{{STATIC_URL}}img/sin_imagen.png">
                                        {% endif %}
                                        <div class="cycle-caption"></div>
                                    </figure>
                                    <div class="cycle-controles">
                                        <a href="#" class="cycle-prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#" class="cycle-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                    </div>
                                </div>
                                <div id="panel-opciones" class="row no-print">
                                    <!-- Button trigger modal -->
                                    <button class="btn btn-primary btn-default btnEmailProducto" data-toggle="modal" data-target="#myModal"><span class="icon-mail icon-mail3"></span></button>
                                    <a href="javascript:window.print()" class="btn btn-primary btn-default btnImprimirProducto"><span class="icon-printer icon-printer"></span></a>
                                </div>
                            </div>
                            <div class="espacio"></div>
                            </div><!--Fin #print-imagen-producto -->
                            <div id="producto-detalle-descripcion" class="col col-xs-12 col-sm-7">
                                <div class="detalle-nombre row">
                                    <h3>{{detalle.Descripcion}}</h3>
                                </div>
                                <form method="post" action="/agregar-carrito/" class="detalle-cantidad row no-print">{% csrf_token %}
                                    <div class="col col-xs-3">
                                        <input type="hidden" value="{{detalle.pk}}" name="Producto">
                                        <input type="number" class="form-control input" name="Cantidad" min="1" value="1">
                                    </div>
                                    <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button>
                            
                                </form>
                                <div class="detalle-codigo row">
                                    <p><strong>Código del producto:</strong> {{detalle.Codigo}}</p>
                                </div>
                                <div class="row detalle-precio">
                                {% load humanize %}<p><strong>Precio: <span>L. {{precio}}</span></strong></p>
                                </div>
                                <div class="row detalle-existencia">
                                    <p><strong>En exitencia:</strong>{% if detalle.Existencia < 0 %} <span class="negativo">{{detalle.Existencia}}</span>{% else %} {{detalle.Existencia}}{% endif %}</p>
                                </div>  
                                <div class="row detalle-comentario">
                                    <div class="espacio"></div>
                                    <p>{{detalle.Comentarios|linebreaks}}</p>
                                </div>
                            </div>
                       
                    </article>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Enviar e-mail</h4>
                    </div>
                    <form id="formularioEmail" role="form" method="post" action="/enviar-email/">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Para:</label>
                            {{formulario.amigo}}
                        </div>
                        <div class="form-group">
                            <label>De:</label>
                            {{formulario.correo}}
                        </div>
                        <div class="form-group">
                            <label>Mensaje:</label>
                            {{formulario.mensaje}}
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="id_url" name="url" maxlength="500">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    </form>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </article>
        <article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
            <div class="row producto-filtro-lateral">
                <div class="row">
                    <h2 class="titulo">Novedades</h2>
                </div>
                <div class="cuerpo-contenido row">
                    {% for item in novedades %}
                    <article class="producto-elemento row">
                            <div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
                            <div class="row">
                                <figure id="s2" class="s2 demo">
                                    {% for img in detalle_img %}
                                        {% if img.Producto.Producto.Codigo == item.Codigo %}
                                            <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                        {% endif %}
                                    {% endfor %}
                                </figure>
                                <div class="contenido-lateral-precio">
                                    <div class="row">
                                        {% load humanize %}
                                        <h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
                                    </div>
                                    <div class="row producto-caja-btn">
                                        <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                            <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                            <input type="hidden" value="1" name="Cantidad">
                                            <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="row producto-filtro-lateral">
                <div class="row">
                    <h2 class="titulo">Ofertas</h2>
                </div>
                <div class="cuerpo-contenido row">
                    {% for item in ofertas %}
                    <article class="producto-elemento row">
                        <div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
                        <div class="row">
                            <figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto.Producto.Codigo == item.Codigo %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% endif %}
                                {% endfor %}
                            </figure>
                            <div class="contenido-lateral-precio ">
                                <div class="row">
                                    {% load humanize %}
                                    <h3 ><span class="label label-danger">L. {{item.Precio|intcomma}}</span></h3>
                                </div>
                                    <div class="row producto-caja-btn">
                                        <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                            <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                            <input type="hidden" value="1" name="Cantidad">
                                            <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="row producto-filtro-lateral">
                <div class="row">
                    <h2 class="titulo">Destacados</h2>
                </div>
                <div class="cuerpo-contenido row">
                    {% for item in destacados %}
                    <article class="producto-elemento row">
                        <div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
                        <div class="row">
                            <figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto.Producto.Codigo == item.Codigo %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% endif %}
                                {% endfor %}
                            </figure>
                            <div class="contenido-lateral-precio ">
                                <div class="row">
                                    {% load humanize %}
                                    <h3 ><span class="label label-success">L. {{item.Precio|intcomma}}</span></h3>
                                </div>
                                    <div class="row producto-caja-btn">
                                        <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                            <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                            <input type="hidden" value="1" name="Cantidad">
                                            <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </article>
    </div>
{% endblock %}