{% extends 'base.html' %}
{% block titulo %}Realizar Pago de Carrito{% endblock %}
{% block contenido %}
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Realizar Pago de Carrito</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<article class="producto-elemento row">
						<form action="/resultado-transaccion/" method="post" class="form-horizontal" role="form">{% csrf_token %}

							<div class="panel panel-default">
								<div class="panel-heading">Datos de la tarjeta de crédito</div>
							  	<div class="panel-body">
							  		
							  		<div class="espacio"></div>
							  		<input type="hidden" value="1" name="tipoPago">
							  		<input type="hidden" value="{{carrito.id}}" name="carro">
							  		<input type="hidden" value="{{direccion.id}}" name="idDireccion">
									<div class="form-group">
										<label class="col-sm-3 control-label">Código de Tarjeta:</label>
									    <div class="col-sm-4">
									      <input type="text" class="form-control" name="codTar" id="codTar" placeholder="Ingrese el numero de tarjeta" required>
									    </div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-3 control-label">Fecha de Expiración:</label>
									    <div class="col-sm-8">
									    	<div class="col col-sm-3">
									    		<select name="meses" id="meses" class="form-control" required>
										    		<option value="01">01</option>
										    		<option value="02">02</option>
										    		<option value="03">03</option>
										    		<option value="04">04</option>
										    		<option value="05">05</option>
										    		<option value="06">06</option>
										    		<option value="07">07</option>
										    		<option value="08">08</option>
										    		<option value="09">09</option>
										    		<option value="10">10</option>
										    		<option value="11">11</option>
										    		<option value="12">12</option>
										    	</select>
									    	</div>
									    	<div class="col col-sm-3">
									    		<select name="anos" id="anos" class="form-control">
										    		{% for ano in anos %}
											    		<option value="{{ano|date:'y'}}">{{ano|date:"Y"}}</option>
											    	{% endfor %}
										    	</select>
									    	</div>
									    </div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Numero de CVV:</label>
									   <div class="col-sm-3">
									      <input type="text" class="form-control" name="CVV" id="CVV" placeholder="">
									    </div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-3">
											<input type="submit" class="btn btn-success" value="Enviar">
										</div>
									</div>
									<div class="row">
							  			<figure class="tarjetas col col-xs-1 col-sm-1"> 
							  				<img src="{{STATIC_URL}}img/visa.jpg" alt="">
							  			</figure>
							  			<figure class="tarjetas col col-xs-1 col-sm-1">
							  				<img src="{{STATIC_URL}}img/discover.jpg" alt="">
							  			</figure>
										<figure class="tarjetas col col-xs-1 col-sm-1">
							  				<img src="{{STATIC_URL}}img/american_express.jpg" alt="">
							  			</figure>
							  			<figure class="tarjetas col col-xs-1 col-sm-1">
							  				<img src="{{STATIC_URL}}img/mastercard.jpg" alt="">
							  			</figure>
							  		</div>
							 	</div>
							</div>
						</form>
						<div id="panel-direccion" class="panel panel-default">
							<div class="panel-heading">Datos de la dirección de contacto</div>
						  	<div class="panel-body">
						  		<div class="col-md-6">
						  			<address id="direccionPago">
										<strong>{{direccion.Nombre}}</strong><br>
										{{direccion.Direccion}}<br>
										{{direccion.Ciudad}}, {{direccion.Region}}, {{direccion.Pais}}<br>
										<abbr title="Teléfono">Tel:</abbr> {{direccion.Telefono}}
									</address>
						  		</div>
						  		<div class="col-md-6">
						  				<div id="datos-carrito"  class="datos-carrito">
											<div class="row">
												<h4>Detalle de Factura</h4>
											</div>
											<div class="espacio row"></div>
											<div class="row">
												<ul class="nav nav-pills nav-stacked">
												  	<li>
												      	<span class="badge pull-right">{{cantidad}}</span>
												     	<label>Cantidad de Productos:</label>
												  	</li>
												  	<li><span class="badge pull-right">L. {{subtotal}}</span><label>Sub-total:</label></li>
												  	<li>
												      	<span class="badge pull-right">L. {{direccion.Ciudad.Servicio_Domicilio}}</span>
												     	<label>Servicio de envío:</label>
												  	</li>
												  	<li>
												      	<span class="badge pull-right">L. {{total}}</span>
												     	<label>Total:</label>
												  	</li>
												</ul>
											</div>
										</div>
						  		</div>
							</div>
						</div>
					</article>
				</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
	                                {% if img.Producto.Codigo == item.Codigo %}
	                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
	                                {% endif %}
	                            {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
	                                {% if img.Producto.Codigo == item.Codigo %}
	                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
	                                {% endif %}
	                            {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
	                                {% if img.Producto.Codigo == item.Codigo %}
	                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" >
	                                {% endif %}
	                            {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>			
		</article>
	</div>
{% endblock %}
