{% extends 'base.html' %}

{% block titulo %}Paper &amp; More - Inicio{% endblock %}
{% block style %}
  <style>
    *{margin: 0; padding: 0;}

    #contenido-lateral{
      margin-top: 45px;
    }

    #contenido-lateral .row{
      margin-bottom: 15px;
    }

    #myTab{
      padding-top: 5px;
      margin-bottom: 7px;
    }
     .carousel{
      float: left;
      width: 100%;
    }
    .contenedor{
      padding-top: 5px;
    }

    .icon{
      font-size: 35px;
      position: absolute;
      top:45%;
      z-index: 5;
    }

    .icon-flechitaizquierda{
      left: 20%;
    }
    .icon-flechitaderecha{
      right: 20%;
    }
  </style>
{% endblock style %}
{% block js %}
  <script>
    $(document).on('ready', function(){
      $('.carousel-inner div:first-child').addClass('active');
      $('#myCarousel').css('display', 'block');

      Novedades();

      $("#novedades").on("click", function(){
        Novedades();
      });


      function Novedades(){
        $.get("/productos-en-novedades/", function(data){
          $("#resultado-productos").html(data);
        }, "html")
      };
    });
  </script>
{% endblock %}

{% block contenido %}
{% load thumbnail %}
<div class="row">
            <div class="col-md-12">
                <div>
                    <div class="z-slider-wrapper z-shadows" style="display: block; width: 1138px;">
                    <article id="demo-accordion-01" class="z-demo-accordion transition z-accordion horizontal blue z-grouped z-bordered z-shadows" data-role="z-accordion" data-options="{&quot;active&quot;: 2,&quot;responsive&quot;: true,&quot;orientation&quot;: &quot;horizontal&quot;,  &quot;theme&quot;: &quot;silver&quot;, &quot;shadows&quot;: true,&quot;bordered&quot;: true, &quot;slider&quot;: true, &quot;rounded&quot;: false, &quot;width&quot;: 1600, &quot;height&quot;:500, &quot;dotNav&quot;:true, &quot;containerHeight&quot;: 320, &quot;headerSize&quot;:68, &quot;animation&quot;: {&quot;duration&quot;:400, &quot;easing&quot;: &quot;easeInOutQuart&quot;}, &quot;showIcons&quot;: true,&quot;headerFontSize&quot;: 1.6, &quot;autoplay&quot;: {&quot;interval&quot;:6000}}" role="tablist" style="width: 1138px; height: 298px;">
                        {% for item in banner %}
                          <section class="z-section ">
                              <h3 class="z-header"><span class="z-title">{{item.nombre_banner}}</span><span class="z-arrow"></span></h3>
                              <div class="z-content" id="demo-accordion-01-1"><div class="z-auto-g">
                                {% if item.url %}
                                <a href="{{item.url}}">
                                  <img src="{{MEDIA_URL}}{{ item.imagen_pc }}">
                                </a>
                                {% else %}
                                  <img src="{{MEDIA_URL}}{{ item.imagen_pc }}">
                                {% endif %}
                              </div></div>
                          </section>
                        {% endfor %}
                    </article>
                </div>
            </div>
        </div>
</div>

  <div class="row">
    <article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
      <div class="row">
        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a id="novedades" href="#">Novedades</a></li>
          <li><a id="destacados" href="#">Destacados</a></li>
          <li><a id="ofertas"  href="#">Ofertas</a></li>
        </ul>
        <article id="resultado-productos" class="cuerpo-contenido row"></article>
      </div>
    </article>
    <aside id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral">
    {% for item in accesos %}
      {% if item.Imagen %}
        <div class="row">
          <a href="{{item.Url}}">
            <img src="{{MEDIA_URL}}{{item.Imagen}}" alt="acceso directo" class="img-rounded"/>
           
          </a>
        </div>
      {% endif %}
    {% endfor %}
      <!--
      <div class="row">
        <a href="/ofertas/">
          <img src="{{STATIC_URL}}img/ofertas.jpg" alt="acceso directo" class="img-rounded"/>
        </a>
      </div>
      <div class="row">
        <a href="/destacados/">
          <img class="img-rounded" src="http://www.ingvillamizar.com/wp-content/uploads/2013/01/logo-facebook-300x200.jpg" alt="acceso directo"/>
        </a>
      </div>
      <div class="row">
        <a href="/novedades/">
          <img class="img-rounded" src="http://www.ingvillamizar.com/wp-content/uploads/2013/01/logo-facebook-300x200.jpg" alt="acceso directo"/>
        </a>
      </div>
      <div class="row">
        <a href="/encuestas/">
          <img class="img-rounded" src="http://www.ingvillamizar.com/wp-content/uploads/2013/01/logo-facebook-300x200.jpg" alt="acceso directo"/>
        </a>
      </div>
      -->
    </aside> 
  </div>
{% endblock %}