{% extends 'base.html' %}

{% block titulo %}Inicio{% endblock %}
{% block js %}
  
  <script>
  </script>
{% endblock %}

{% block contenido %}
     <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
    	<ol class="carousel-indicators">
    		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
        	<li data-target="#myCarousel" data-slide-to="2"></li>
      	</ol>
    	<div class="carousel-inner">
        	<div class="item active">
          		<img src="{{STATIC_URL}}img/baner1.jpg"  alt="First slide">
      			<div class="container">
        			<div class="carousel-caption">
          				<h1>Paper and More</h1>
          				<p></p>
          				<p><a class="btn btn-large btn-primary" href="#">Regístrate</a></p>
        			</div>
      			</div>
        	</div>
        	<div class="item">
          		<img src="{{STATIC_URL}}img/baner2.jpg" alt="Second slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>Paper and More | MegaStore</h1>
              			<p></p>
              			<p><a class="btn btn-large btn-primary" href="#">Comprar</a></p>
            		</div>
          		</div>
        	</div>
        	<div class="item">
          		<img src="{{STATIC_URL}}img/baner3.jpg" alt="Third slide">
          		<div class="container">
            		<div class="carousel-caption">
              			<h1>Paper and More Soporte Ténico</h1>
              			<p></p>
              			<p><a class="btn btn-large btn-primary" href="#">Entrar</a></p>
            		</div>
          		</div>
        	</div>
      	</div>
      	<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    	<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

<!--Contenido -->

    <div id="contenido">
    	<section class="">
    		<div id="tipo-productos">
    			<article id="etiquetas">
	    			<ul id="tab-productos" class="nav nav-tabs">
						  <li><a href="#">Ofertas</a></li>
              <li><a id="destacados" href="#">Destacados</a></li>
              <li class="active"><a id="novedades" href="#">Novedades</a></li>
					</ul>
	    		</article>
    		</div>
    		<div class="">
    			<article id="resultado-productos"></article>
    		</div>
    	</section>

 <!--Accesos directos --> 
		<aside id="acceso-directo" class="hidden-xs ">
			<ul>
				<li>
					<a href="#">
						<img src="http://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_(square).png">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="http://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_(square).png">
					</a>
				</li>
				<li>
					<a href="#">
						<img src="http://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_(square).png">
					</a>
				</li>
			</ul>
		</aside>
    </div>
{% endblock %}