{% extends 'base.html' %}
{% block titulo %}Iniciar Sesión{% endblock %}
{% block contenido %}
    <div id="InicioSesion" class="row">
        <article  class="col-sm-offset-3 col-sm-6">
            <div class="contenido-titulo row">
                <h1 class="titulo">Iniciar Sesión</h1>
            </div>
            <div class="row">
                <form role="form" id="frmRegUsuario" class="cuerpo-contenido row" name="frmRegUsuario" method="post" action="{%  url 'django.contrib.auth.views.login' %}">{% csrf_token %}
                    <div class="form-group">
                        <h3>{{ form.username.label_tag }}</h3>
                            {{ form.username }}  
                    </div>
                    <div class="form-group">
                        <h3>{{ form.password.label_tag }}</h3>
                            {{ form.password }}
                            <!--a href="/recuperar-contrasena/">Olvidé mi contraseña</a-->
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-default" value="Ingresar" />
                            <input type="hidden" name="next" value="{{next}}" />
                        </div>
                    </div>
                </form>
                <div class="row">
                    <a href="/registro/">Registrarse</a>
                </div>    
            </div>
        </article>
    </div>
{% endblock %}