{% extends 'base.html' %}

{% block titulo %}Paper &amp; More - Marcas{% endblock %}

{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Nuestras Marcas</h2>
			</div>
			<div class="row">
				<article id="logos-marcas" class="cuerpo-contenido row">
					{% for elemento in marcas %}
						<div class="col-xs-6 col-sm-4">
							<a class="thumbnail" href="/marcas/{{elemento.id}}" data-toggle="tooltip" data-placement="top" title="Ver productos de marca {{elemento.Marca}}">
								<img src="{{MEDIA_URL}}{{elemento.Logotipo}}" alt="{{elemento.Marca}}">
							</a>
						</div>
					{% empty %}
						<div class="alert alert-warning">
							<h3>No hay marcas disponibles para mostrar.</h3>
						</div>
					{% endfor %}
				</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure class="s2 demo">
									<img src="{{MEDIA_URL}}{{item.Imagen}}" alt="{{item.Descripcion}}">
	                                <!--{% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" alt="{{item.Descripcion}}">
		                                {% endif %}
		                            {% endfor %}-->
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure class="s2 demo">
									<img src="{{MEDIA_URL}}{{item.Imagen}}" alt="{{item.Descripcion}}">
	                                <!--{% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" alt="{{item.Descripcion}}">
		                                {% endif %}
		                            {% endfor %}-->
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
			<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
						<article class="producto-elemento row">
							<div class="detalle-codigo row"><p><strong>Código:</strong> {{item.Codigo}}</p></div>
							<div class="row">
								<figure class="s2 demo">
									<img src="{{MEDIA_URL}}{{item.Imagen}}" alt="{{item.Descripcion}}">
	                                <!--{% for img in detalle_img %}
		                                {% if img.Producto.Producto.Codigo == item.Codigo %}
		                                    <img src="{{MEDIA_URL}}{{img.Imagen}}" alt="{{item.Descripcion}}" >
		                                {% endif %}
		                            {% endfor %}-->
	                            </figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										{% load humanize %}
										<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
	                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
	                                        <input type="hidden" value="{{item.Codigo}}" name="Producto">
	                                        <input type="hidden" value="1" name="Cantidad">
	                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></span></button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
	                                    </form>
	                                </div>
								</div>
							</div>
							<div class="row detalle-descripcion"><p>{{item.Descripcion|truncatewords:8}}</p></div>
						</article>
					{% endfor %}
				</div>
			</div>
		</article>
	</div>
	
{% endblock %}