{% extends 'base.html' %}

{% block titulo %}Paper & More{% endblock %}

{% block contenido %}
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Nuestras Marcas</h2>
			</div>
			<div class="row">
				<article id="logos-marcas" class="cuerpo-contenido row">
					{% for elemento in marcas %}
						<div class="col-xs-6 col-sm-4">
							<a class="thumbnail" href="/marcas/{{elemento.id}}">
								<img src="{{MEDIA_URL}}{{elemento.Logotipo}}">
							</a>
						</div>
					{% endfor %}
				</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% endif %}
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% endif %}
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio ">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
				<div class="row producto-filtro-lateral">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% endif %}
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio ">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
		</article>
	</div>
	
{% endblock %}