{% extends 'base.html' %}
{% block titulo %}Ofertas{% endblock %}
{% block contenido %}
	{% load humanize %}
	<section class="contenedor container">
		<div class="row">
			<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
				<div class="contenido-titulo row">
					<h2 class="titulo">Productos en Ofertas</h2>
				</div>
				<div  class="row">
					<article class="cuerpo-contenido row">
						{% for elemento in datos %}
						  <div class="producto-elemento col-sm-6 col-md-4">
						    <div class="thumbnail">
						      <img src="{{MEDIA_URL}}{{elemento.Imagen}}">
						      <div class="caption">
						        <h3>{{elemento.Descripcion|truncatewords:4}}</h3>
						        <p>L.{{elemento.Precio|intcomma}}</p>
						        <p class="producto-caja-btn"><a href="#" class="btn btn-primary" role="button"><span class='icon-carrito icon-carritocart'></a> <a href="/detalle-producto/{{elemento.pk}}" class="btn btn-default" role="button">Detalles</a></p>
						      </div>
						    </div>
						  </div>
						<!--div class="elemento-producto">
							<figure class="elemento-producto-imagen">
								<img src="{{MEDIA_URL}}{{elemento.Imagen}}" class="img-responsive" />
							</figure>
							<p class="descrip-producto">{{elemento.Descripcion|truncatewords:4}}</p>
							<p class="precio-producto">L.{{elemento.Precio|intcomma}}</p>
							<div class="elemento-opciones">
								<a id="detalleProducto" class="btn btn-info btn-lg btn-block btn-detalle" href="/detalle-producto/{{elemento.pk}}">Detalle</a>
							</div>
						</div-->
						{% endfor %}
					</article>
				</div>
			</article>
			<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
				<div class="row">
					<div class="row">
						<h2 class="titulo">Destacados</h2>
					</div>
					<div  class="cuerpo-contenido row">
						{% for item in destacados %}
						<article class="producto-elemento row">
							<div class="row">Código: {{item.pk}}</div>
							<div class="row">
								<figure id="s2" class="demo">
									<img src="{{MEDIA_URL}}{{item.Imagen}}">
									{% for img in detalle_img %}
										{% if img.Producto == item %}
											<img src="{{MEDIA_URL}}{{img.Imagen}}">
										{% endif %}
									{% endfor %}
								</figure>
								<div class="contenido-lateral-precio">
									<div class="row">
										<h3 ><span class="label label-success">L.{{item.Precio|intcomma}}</span></h3>
									</div>
									<div class="row producto-caja-btn">
										<a href="#" class="btn btn-primary" role="button"><span class='icon-carrito icon-carritocart'></span></a> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a>
									</div>
								</div>
							</div>
							<div class="row"><p>{{item.Descripcion|truncatewords:4}}</p></div>
							
							<!--div class="thumbnail">
							    <img src="{{MEDIA_URL}}{{destacados.Imagen}}">
						      	<div class="caption">
						        	<h3>{{destacados.Descripcion|truncatewords:4}}</h3>
						        	<p>L.{{destacados.Precio|intcomma}}</p>
						        	<p class="producto-caja-btn"><a href="#" class="btn btn-primary" role="button"><span class='icon-carrito icon-carritocart'></a> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Detalles</a></p>
						      	</div>
							</div-->
						</article>
						{% endfor %}
					</div>
				</div>
			</article>
		</div>
	</section>
{% endblock %}