{% extends 'base.html' %}

{% block titulo %}Configuración de la nueva contraseña{% endblock %}

{% block contenido %}
	<ol class="breadcrumb">
		<li><a href="/">Inicio</a></li>
	  	<li><a href="/marcas/">Marcas</a></li>
	</ol>
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12">
			{% if validLink %}
				<p>Por favor ingrese su nueva contraseña dos veces. <br>
				Se verificara si los datos ingresados son correctos.</p>
				<form action="" method="post">
					{% csrf_token %}
					<table>
						<tr>
							<td>
								{{ form.new_password1.errors }}
								<label for="id_new_password1">Nueva Contraseña:</label>
							</td>
							<td>
								{{ form.new_password1 }}
							</td>
						</tr>
						<tr>
							<td>
								{{ form.new_password2.errors }}
								<label for="id_new_password2">Confirmar Contraseña:</label>
							</td>
							<td>
								{{ form.new_password2 }}
							</td>
						</tr>
						<tr>
							<td>
								
							</td>
							<td>
								<input type="submit" value="Cambiar contraseña" />
							</td>
						</tr>
					</table>
				</form>
			{% else %}
				<h1>El cambio de contraseña no se realizó</h1>
				<p>El enlace para el cambio de contraseña era invalido, <br>
				probablemente ya habia sido utilizado. <br>
				Por favor envie una nueva solicitud de recuperación de contraseña.</p>
			{% endif %}
		</article>
	</div>
{% endblock %}