{% extends 'base.html' %}

{% block titulo %}Email de contraseña enviado{% endblock %}

{% block contenido %}
	<ol class="breadcrumb">
		<li><a href="/">Inicio</a></li>
	  	<li><a href="/marcas/">Marcas</a></li>
	</ol>
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12">
			<div class="contenido-titulo row">
				<h2 class="titulo">Recuperar Contraseña</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<p>Se ha enviado a su correo electronico la configuración para restaurar su contraseña.</p>
					<p>Verifique su cuenta de correo.</p>
				</article>
			</div>
		</article>
	</div>
{% endblock %}