{% extends 'base.html' %}

{% block titulo %}Recuperar Contraseña{% endblock %}

{% block contenido %}
	<ol class="breadcrumb">
		<li><a href="/">Inicio</a></li>
	  	<li><a href="/marcas/">Marcas</a></li>
	</ol>
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-12 col-md-12">
			<div class="contenido-titulo row">
				<h2 class="titulo">Recuperar Contraseña</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					<p>Por favor ingrese su dirección de correo para recibir instrucciones como recuperar su contraseña</p>
					<br>
					<form action="" method="post">
						{% csrf_token %}
						 <label>{{ form.email.errors }}</label>
						<div class="form-group">
						    <label for="id_email">E-mail:</label>
						    <div class="col col-sm-4">
						      {{ form.email }}
						     
						    </div>
						</div>
						<br>
						<div class="form-group">
							<div class="col col-sm-5">
						    	<input type="submit" class="btn btn-success" value="Recuperar Contraseña" />
						    </div>
						</div>
					</form>
				</article>
			</div>
		</article>
	</div>
{% endblock %}