{% extends 'base.html' %}

{% block titulo %}Paper & More - Perfil de Usuario{% endblock %}

{% block js %}
	<script>
		//Script para obtener la informacion del usuario
		$.ajax({
			type: 	'GET',
			url: 	'/obtener-info-usuario/',
			data: 	{},
			success: function(data){
				$('.info-usuario .panel').html(data);
			},
			dataType: 'html'
		});
	</script>
{% endblock %}

{% block contenido %}
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">Mi cuenta de usuario</h2>
			</div>
			<div class="row">
				<article class="cuerpo-contenido row">
					<div class="panel panel-default">
						 <div class="panel-heading">Información del Usuario</div>
						 <div class="panel-body">
						    <div class="row info-perfil">
						    	<div><p>Nombre completo: </p><h4>{{uPerfil.first_name}} {{uPerfil.last_name}}</h4></div>
								<div class="espacio"></div>
						    	<div><p>Dirección de correo: </p><h4>{{uPerfil.email}}</h4></div>
						    	<div class="espacio"></div>
						    	<div><p>Nombre de usuario: </p><h4>{{uPerfil.username}}</h4></div>
						    	<div class="espacio"></div>
						    	<div><p>Nombre de usuario: </p><h4>{{dPerfil.Telefono}}</h4></div>
						    	<div class="espacio"></div>
						    	<div><p>Dirección de domicilio: </p>{% if uPerfil.Direccion == "" %}Ingrese una dirección{% else %}<h4>{{dPerfil.Direccion}}</h4>{% endif %}</div>
						    </div>
						    <div class="row">
						    	 <div class="espacio"></div>
						    	<a href="/editar-perfil/" class="btn btn-default">Editar información</a>
						    	<a href="/editar-contrasena/" class="btn btn-default">Cambiar contraseña</a>
						    </div>
						 </div>
					</div>
				</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
				<div class="row">
					<h2 class="titulo">Novedades</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in novedades %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			
		</article>
	</div>
	<!--div class="w-clearfix section contenido">
		<div class="inicio-caja1">
			<div class="contenido-paginas">
				
			</div>
			<div class="cotenido-paginas">
				<section class="pagina-contenido-caja">
					<article class="pagina-caja1-1">
						<div class="cotenido-paginas"><h4 class="titulo h4">Mi Cuenta</h4></div>
					</article>
					<article class="mensaje"></article>
					<article class="items-carrito">
							<div  class="item-carrito info-usuario">
								<ul id="myTab" class="nav nav-tabs nav-justified">
								  <li class="active"><a href="#">General</a></li>
								  <li><a href="#">Creditos</a></li>
								</ul>
								<div class="panel panel-default">
								</div>
                    		</div>
					</article>  
				</section>
				<section id="section-carrito" class="pagina-contenido-caja2">
                    <div id="detalle-carrito">
                        <div class="cotenido-paginas contenido-carrito">
                            <h4 class="titulo h4">Carrito</h4>
                        </div>
                        <article class="total-item-carrito"></article>
                    </div>
                </section>
			</div>
		</div>
	</div-->
{% endblock %}