{% extends 'base.html' %}

{% block titulo %}Productos sin imagenes{% endblock titulo %}

{% block style %}
	<style type="text/css">
		article{
			margin-top: 10px;
		}
		
	</style>
{% endblock style %}

{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<h2 class="titulo">Productos sin Imagenes [ {{total}} ]</h2>
	<article class="col-sm-12">
	<table class="table">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Existencias</th>
			</tr>
		</thead>
		<tbody>
		{% for producto in productos %}
			<tr>
				<td>{{producto.Descripcion}}</td>
				<td>{{producto.Existencia}}</td>
			</tr>
		{% endfor %}
			
		</tbody>
	</table>
		<ul class="list-group">
			
		</ul>
	</article>
{% endblock contenido %}