{% extends 'base.html' %}

{% block titulo %}Paper & More{% endblock %}

{% block contenido %}
	<div class="w-clearfix section contenido">
		<div class="inicio-caja1">
			<div class="contenido-paginas">
				
			</div>
			<div class="cotenido-paginas">
				<section class="pagina-contenido-caja">
					<article class="pagina-caja1-1">
						<div class="cotenido-paginas"><h4 class="titulo h4">{{datos.Descripcion}}</h4></div>
					</article>
					<article id="todas-marcas" class="pagina-caja1-2">
						{% for elemento in productos %}
							<div id="productos-subcategoria" class="elemento-producto">
								<div class="w-container elemento-producto-imagen">
								  	<img src="{{MEDIA_URL}}{{elemento.Imagen}}" class="img-responsive" alt="Responsive image">
								</div>
								<div class="descrip-producto">
								  <p>{{elemento.Descripcion|truncatewords:4}}</p>
								</div>
								<div>
									{% load humanize %}
								  	<p>L.{{elemento.Precio|intcomma}}</p>
								</div>
								<div class="w-clearfix elemento-opciones" id="elemento-opc">
						            <a id="detalleProducto" class="btn btn-info btn-lg btn-block btn-detalle" data="{{elemento.pk}}" href="#" data-toggle="modal" data-target="#myModal">Detalle</a>
						        </div>
							</div>
						{% endfor %}
					</article>
				</section>
				<section class="pagina-contenido-caja2">
					<div id="detalle-carrito">
						<div class="cotenido-paginas contenido-carrito"><h4 class="titulo h4">Carrito</h4></div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}