{% extends 'base.html' %}

{% block titulo %}Paper & More{% endblock %}

{% block contenido %}
{% load humanize %}
	<ol class="breadcrumb">
		<li><a href="/">Inicio</a></li>
	  	<li><a href="/marcas/">Marcas</a></li>
	  	<li class="active">{{marca.Marca}}</li>
	</ol>
	<div class="row">
		<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
			<div class="contenido-titulo row">
				<h2 class="titulo">{{marca.Marca}}</h2>
			</div>
			<div  class="row">
				<article class="cuerpo-contenido row">
					{% for elemento in productos %}
					   <div class="producto-elemento col-xs-6 col-sm-6 col-md-4">
					    <div class="thumbnail">
				    		{% for imagen in detalle_img%}
				                {% if imagen.Producto == elemento %}
				                    {% if elemento.Oferta %}
				                        <img src="{{STATIC_URL}}img/img_oferta.png" class="img_oferta">
				                    {% endif %}
				                    {% if forloop.first %}
				                        <a href="/detalle-producto/{{elemento.pk}}"><img src="{{MEDIA_URL}}{{imagen.Imagen}}" class="img-thumbnail"></a>
				                    {% endif %}  
				                {% else %}
				                    <a href="/detalle-producto/{{elemento.pk}}"><img src="{{STATIC_URL}}img/sin_imagen.png" class="img-thumbnail"></a>
				                {% endif %}
				            {% empty %}
				                <a href="/detalle-producto/{{elemento.pk}}"><img src="{{STATIC_URL}}img/sin_imagen.png" class="img-thumbnail"></a>
				            {% endfor %}
				      		<div class="caption">
				        		<h3 class="nombre-producto">{{elemento.Descripcion|truncatewords:4|safe}}</h3>
				        		<p class="caption-precio">L.{{elemento.Precio|intcomma}}</p>
				        		<form method="post" action="/agregar-carrito/">{% csrf_token %}
				        			<input type="hidden" value="{{elemento.pk}}" name="Producto">
				        			<input type="hidden" value="1" name="Cantidad">
				        			<p class="producto-caja-btn">
				        			<button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{elemento.pk}}" class="btn btn-default" role="button">Detalles</a></p>
				        			
				        		</form>
				      		</div>
				    	</div>
					  </div>
					{% endfor %}
				</article>
				<article class="cuerpo-contenido row paginacion">
						<div class="pagination">
							<span class="paginacion-enlaces">
							<ul class="pager">
								{% if productos.has_previous %}
									<li><a href="?page={{ contacts.previous_page_number }}{{ getvars }}{{ hashtag }}">Anterior</a></li>
								{% else %}
									<li class="disabled"><a>Anterior</a></li>
								{% endif %}
								<span class="actual">
									{{ productos.number }} de {{ productos.paginator.num_pages }}
								</span>
								{% if productos.has_next %}
									<li><a href="?page={{ productos.next_page_number }}">Siguiente</a></li>
								{% else %}
								<li class="disabled"><a>Siguiente</a></li>
								{% endif %}
							</ul>	
							</span>
							</ul>
						</div>
					</article>
			</div>
		</article>
		<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
			<div class="row">
                <div class="row">
                    <h2 class="titulo">Novedades</h2>
                </div>
                <div  class="cuerpo-contenido row">
                    {% for item in novedades %}
                    <article class="producto-elemento row">
                        <div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
                        <div class="row">
                            <figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
                            <div class="contenido-lateral-precio ">
                                <div class="row">
                                    {% load humanize %}
                                    <h3 ><span class="label label-success">L.{{item.Precio|intcomma}}</span></h3>
                                </div>
                                <div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
                    </article>
                    {% endfor %}
                </div>
            </div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Ofertas</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in ofertas %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-danger">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
			<div class="row espacio"></div>
			<div class="row">
				<div class="row">
					<h2 class="titulo">Destacados</h2>
				</div>
				<div  class="cuerpo-contenido row">
					{% for item in destacados %}
					<article class="producto-elemento row">
						<div class="detalle-codigo row"><p>Código: {{item.pk}}</p></div>
						<div class="row">
							<figure id="s2" class="s2 demo">
                                {% for img in detalle_img %}
                                    {% if img.Producto == item %}
                                        <img src="{{MEDIA_URL}}{{img.Imagen}}" >
                                    {% else %}
                                    	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                    {% endif %}
                                {% empty %}
                                	<img src="{{STATIC_URL}}img/sin_imagen.png">
                                {% endfor %}
                            </figure>
							<div class="contenido-lateral-precio">
								<div class="row">
									{% load humanize %}
									<h3 ><span class="label label-success">L.{{item.Precio|intcomma}}</span></h3>
								</div>
								<div class="row producto-caja-btn">
                                    <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                        <input type="hidden" value="{{item.pk}}" name="Producto">
                                        <input type="hidden" value="1" name="Cantidad">
                                        <button class="btn btn-primary" type="submit"><span class='icon-carrito icon-carritocart'></button> <a href="/detalle-producto/{{item.pk}}" class="btn btn-default" role="button">Ver</a></p>
                                    </form>
                                </div>
							</div>
						</div>
						<div class="row"><p>{{item.Descripcion|truncatewords:4|safe}}</p></div>
					</article>
					{% endfor %}
				</div>
			</div>
		</article>
	</div>
{% endblock %}