{% extends 'base.html' %}

{% block titulo %}Productos sin imagenes{% endblock titulo %}

{% block style %}
	<style type="text/css">
		article{
			margin-top: 10px;
		}
		
	</style>
{% endblock style %}

{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<h2 class="titulo">Productos sin Imagenes</h2>
	<article class="col-sm-12">
		<ul class="list-group">
			{% for producto in productos %}
				<li class="list-group-item">{{producto.Descripcion}}</li>
			{% endfor %}
		</ul>
	</article>
{% endblock contenido %}