{% extends 'base.html' %}
{% block titulo %}Reportes{% endblock titulo %}
{% block style %}
	<style>
		#btn{
			margin-top: 10px;
		}
	</style>
{% endblock %}
{% block js %}
{% endblock %}
{% block contenido %}
	<input type="hidden" id="centinela_marca" value="0">
	<div class="row">
		<div class="contenido-titulo row">
			<h2 class="titulo">Reportes</h2>
		</div>
		<div class="row">
			<h4>Productos en Oferta</h4>
			{% for item in productos_ofertas %}
				<label>{{item.Descripcion}}</label><br>
			{% endfor %}
		</div>
		<div class="row">
			<h4>Productos Destacados</h4>
			{% for item in productos_destacados %}
				<label>{{item.Descripcion}}</label><br>
			{% endfor %}
		</div>
		<div id="btn" class="row">
			<a href="/reporte/">Crear Reporte</a>
		</div>
	</div>
{% endblock %}