{% extends 'base.html' %}
{% load thumbnail %}
{% block titulo %}Paper &amp; More - Encuestas{% endblock %}
{% block style %}
  <style>
  
  </style>
{% endblock style %}
{% block js %}
  <script>
   
  </script>
{% endblock %}

{% block contenido %}
<div class="row">
	<ol class="breadcrumb">
		<li><a href="/encuestas/">Encuestas</a></li>
	</ol>
	<article id="caja-contenido" class="col-xs-12 col-sm-8 col-md-9">
		<div class="contenido-titulo row">
			<h2 class="titulo">Resultado encuesta</h2>
		</div>
		<div id="marcas-subcategorias" class="row">
			<article class="cuerpo-contenido row">	
			{% if error %}
				<div class="alert alert-danger">
					<h3>Su encuesta no se envio, intentelo otra vez.</h3>
				</div>
			{% endif %}
			{% if aceptado %}
				<div class="alert alert-success">
					<h3>Su encuesta se ha enviado, gracias por colaborar con nosotros.</h3>
				</div>
			{% endif %}
			</article>
		</div>
	</article>
	<article id="contenido-lateral" class="hidden-xs col-sm-4 col-md-3 contenido-lateral" >
		<div class="row producto-filtro-lateral">
			<div class="row">
				<h2 class="titulo">Novedades</h2>
			</div>
			<div  class="cuerpo-contenido row">
				{% for item in novedades %}
				<article class="producto-elemento row">
					<div class="detalle-codigo row">
						<p><strong>Código:</strong> {{item.Codigo}}</p>
					</div>
					<div class="row">
						<figure id="s2" class="s2 demo">
							{% thumbnail item.Imagen 100x80 upscale as thumb %}
                                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.heigth }}" class="img-rounded">	
                        </figure>
						<div class="contenido-lateral-precio">
							<div class="row">
								<h3 ><span class="label label-danger">L. {{item.Precio}}</span></h3>
							</div>
							<div class="row producto-caja-btn">
                                <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                    <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                    <input type="hidden" value="1" name="Cantidad">
                                    <button class="btn btn-primary" type="submit">
                                    	<span class='icon-carrito icon-carritocart'></span>
                                    </button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
                                </form>
                            </div>
						</div>
					</div>
					<div class="row detalle-descripcion">
						<p>{{item.Descripcion|truncatewords:8}}</p>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
		<div class="row espacio"></div>
		<div class="row producto-filtro-lateral">
			<div class="row">
				<h2 class="titulo">Ofertas</h2>
			</div>
			<div  class="cuerpo-contenido row">
				{% for item in ofertas %}
				<article class="producto-elemento row">
					<div class="detalle-codigo row">
						<p><strong>Código:</strong> {{item.Codigo}}</p>
					</div>
					<div class="row">
						<figure id="s2" class="s2 demo">
							<img src="{{MEDIA_URL}}{{item.Imagen}}" >	
                        </figure>
						<div class="contenido-lateral-precio">
							<div class="row">
								<h3 ><span class="label label-success">L. {{item.Precio}}</span></h3>
							</div>
							<div class="row producto-caja-btn">
                                <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                    <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                    <input type="hidden" value="1" name="Cantidad">
                                    <button class="btn btn-primary" type="submit">
                                    	<span class='icon-carrito icon-carritocart'></span>
                                    </button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
                                </form>
                            </div>
						</div>
					</div>
					<div class="row detalle-descripcion">
						<p>{{item.Descripcion|truncatewords:8}}</p>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
		<div class="row producto-filtro-lateral">
        <div class="row">
            <h2 class="titulo">Destacados</h2>
        </div>
        <div  class="cuerpo-contenido row">
            {% for item in destacados %}
            <article class="producto-elemento row">
				<div class="detalle-codigo row">
					<p><strong>Código:</strong> {{item.Codigo}}</p>
				</div>
				<div class="row">
					<figure id="s2" class="s2 demo">
						<img src="{{MEDIA_URL}}{{item.Imagen}}" >	
                    </figure>
					<div class="contenido-lateral-precio">
						<div class="row">
							<h3 ><span class="label label-danger">L. {{item.Precio}}</span></h3>
						</div>
						<div class="row producto-caja-btn">
                            <form method="post" action="/agregar-carrito/">{% csrf_token %}
                                <input type="hidden" value="{{item.Codigo}}" name="Producto">
                                <input type="hidden" value="1" name="Cantidad">
                                <button class="btn btn-primary" type="submit">
                                	<span class='icon-carrito icon-carritocart'></span>
                                </button> <a href="/detalle-producto/{{item.Codigo}}" class="btn btn-default" role="button">Ver</a>
                            </form>
                        </div>
					</div>
				</div>
				<div class="row detalle-descripcion">
					<p>{{item.Descripcion|truncatewords:8}}</p>
				</div>
			</article>
            {% endfor %}
        </div>
    </div>
	</article>
</div>
{% endblock %}