
.list_carousel {
	border-top: 1px solid #dddddd;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 1% 1% 0 1%;
	text-align: center;
	width: 100%;
}

.list_carousel div{
	margin: 0;
}



.list_carousel li {
	width: 115px;
	height: 115px;
	padding: 0;
	position: relative;
	margin: 6px;
	display: block;
	float: left;
}

.list_carousel li img{
	float: left;
	position: relative;
	width: 100%;
	height: 163px;
}

.list_carousel .col-sm-1{
	width: 4%;
}
.list_carousel .responsive {
	width: auto;
	margin-left: 0;
}
.list_carousel .clearfix {
	float: none;
	clear: both;
}

.list_carousel .prev, .list_carousel .next{
	margin-top: 80px;
}
.list_carousel .prev {
	float: left;
	
}
.list_carousel .next {
	float: right;
}
.list_carousel .pager {
	float: left;
	width: 300px;
	text-align: center;
}
.list_carousel .pager a {
	margin: 0 5px;
	text-decoration: none;
}
.list_carousel .pager a.selected {
	text-decoration: underline;
}

@media screen and (max-width: 479px){
	.list_carousel li img{
		height: 184px;
	}
}