aside div{
	margin-top: 5px;
}

footer a{
	color: white;
}

footer a:hover{
	color: white;
}

img{
	max-width: 100%;
}

label{
	margin: 0;
}

header label{color: white;}

header .container{
	padding-right: 0;
	padding-left: 0;
}

#btnPagar{
	float: right;
}

#btnBuscar{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#busca{padding-top: 0.6%;}

/*#busca input{height: 34px;}*/

#caja-contenido .cuerpo-contenido{
	border: none;
	padding: 0;
	margin-top: 0;
}

#caja-contenido .producto-elemento h3{
	height: 60px;
	margin-bottom: 5px;
}



#direccionPago{
	border-right: 1px solid #dddddd;
}

#ico-twitter{
	padding-right: 7px;
}

#ico-facebook{
	padding-left: 7px;
}

#InicioSesion{
	padding: 10%;
}

#IniciosSesion article{
	border: 1px solid #bdc3c7;

}

#InicioSesion .cuerpo-contenido, #frmRegistro .cuerpo-contenido{
	border: none;
}

#itemDireccion{
	border: 1px solid #dddddd;
	background-color: rgb(242, 242, 242);
	color: black;
	margin: 2%;
	padding: 10px;
	width: 46%;
	
}

#itemDireccion address{
	text-align: left;
	padding: 1%;
}

#myCarousel{
	display: none;
}

#myModalHorarioServicio figure{
	display: inline-block;
	position: relative;
	width: 20%;
}

#myModalHorarioServicio .horarios{
	display: inline-block;
	margin-top: 20px;
	position: relative;
	width: 70%;
	vertical-align: top;
}

#myModalHorarioServicio .horarios table{
	
}

#myModalEmpleos .media-body p, #myModalEmpleos .media-body ul{
	font-size: 12px;
	line-height: 14px;
}

#logos-marcas{
	padding: 4% 1%;
}

#logos-marcas div{
	margin-bottom: 4% ;
}

#logo-megastore{
    margin-top: 4.16%;
  }

#panel-direccion{
	padding: 0px;
}

#panel-direccion #datos-carrito h4{
	text-align: center;
	font-size: 25px;
}

#producto-detalle{
	padding: 3% 3.3%;
}

#producto-detalle #producto-detalle-descripcion{
	padding: 5px 2%;
	padding-right: 0;
}

#Registro{
	padding: 5% 0;
}

#resultado-productos{
	border:none;
	height: 100%;
	padding: 5px 2%;
	position: relative;
}

.btncerrarModal{
	background-color: #e46764;
	border-color: #e46764;
}

.btncerrarModal, .btnaceptarModal{
	color: white;
	font-size: Helvetica, Verdana, Sans-Serif;
	font-weight: bold;
}

.btncerrarModal:hover{
	background-color: #F24E4E;
	color: white;
}

.btnaceptarModal{
	background-color: #006bb6;
	border-color: #006bb6;
}

.btnaceptarModal:hover{
	background-color: #107FC9;
	color:white;
}

.btnEmailProducto, .btnImprimirProducto{
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 20px;
}

.btnDir{
	padding: 0;
}

.datos-carrito .badge{
	background-color: #E6E8EA;
	font-size: 16px;
	color: #2E2C42;
}


.caja-sin-border{
	border: 0;
}

.caption-precio{
	color:#e46764;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 25px;
	font-weight: bolder;
}

.col{
	padding: 0;
}

.contenedor #caja-contenido{
	margin-bottom: 15px;
	padding: 0;
}

.controles-visor span{
	position: absolute;
	margin-top: 20px;
	z-index: 101;
}

.cuerpo-contenido{
	border: 1px solid #ecf0f1;
	border-radius: 5px;
	/*margin-top: 10px;*/
	padding: 0.7% 1%;
}

.datos-carrito li{
	background-color: #E6E6E6;
	color: #2E2C42;
	font-family: Helvetica;
	font-size: 18px;
	padding: 4px 7px;
	border-radius: 4px;
}

.detalle-comentario{
	font-size: 12px;
	color: #515151;
}

.detalle-nombre h3{
	color: rgb(27, 27, 167);
	font-size: 16px;
}

.detalle-nombre, .detalle-cantidad{
	margin-bottom: 5px;
}

.detalle-codigo p, .detalle-precio p, .detalle-existencia p{
	background-color: #E6E6E6;
	font-family:  Helvetica, Arial;
	font-size: 14px;
	margin: 0.5% 0;
	padding: 2%;
	border-radius: 3px;
}

.detalle-precio span{
	color: #e46764;
	font-size: 18px;
}

.detalle-existencia .negativo{
	color: #e46764;
	font-size: 18px;
	font-weight: bold;
}

.espacio{
	height: 10px;
}

.btnFiltro{
			margin-left: 5px;
		}

.filtroSelect{
	height: 30px;
}

.frmCant{
	padding: 5px 15px;
}
.frmCant input{
	text-align: center;
}

.item-carrito .item-precio-cantidad{
	border-radius: 4px;
	background: #ecf0f1;
	display: inline-block;
	float: left;
	padding: 0.3em;
	position: relative;
	text-align: center;
}

.item-carrito .item-descripcion h3{
	font-size: 16px;
	color: rgb(27, 27, 167);
}

.item-carrito .item-descripcion a{
	text-decoration: none;
	
}


.item-cantidad{
	font-size: 18px;
	text-align: center;
}

.item-cantidad p{
	padding-top: 5px;
}

.item-precio {
	font-size: 18px;
	padding: 0;
}

.item-precio p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding-top: 5px;
	font-weight: bold;
}

.img_oferta{
	position: absolute;
	margin: 0;
	margin-top: 10px;

	width: 40%;
	z-index: 1;

	/*background-color: #ffd600;
	color: black;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	padding: 3px;*/
}

.mision_vision{
	padding-right: 10px;
}

.mision_vision>div{
	margin-top: 20px;
}

.mision_vision .media-body p{
	font-size: 16px;
	line-height: 18px;
}

.media-body p, .media-body ul{
	text-align: justify;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contenedor-menu .navbar{
	border-radius: 0;
}
.paginacion{
	text-align: center;
}

.pagination .active a{
	color: white;
}

#panel-opciones{
	border-top: 1px solid #dddddd;
	margin-bottom: 5px;
	padding: 5px;
}

.social{
	padding: 0.5% 0 ;
}

.social div{
	margin-right: 2px;
	margin-left: 2px;
}

#producto-detalle-descripcion .input{
	height: 35px;
	font-size: 20px;
	text-align: center;
}

#producto-detalle-descripcion .btn{
	margin-left: 10px;
	padding: 2px 12px;
	font-size: 20px;
}

.tarjetas img{
	display: inline-block;
}

.titulo-items{
	padding: 5px 0.5em;
}

.titulo-items div{
	padding: 0;
}

.titulo-precio-cantidad{
	text-align: center;
}

.thumbnail{
	border: 1px solid #EFEFEF;
}

.thumbnail h3{
	color: #7F7F7F;
	font-size: 13px;
	line-height: 13px;
}


.list_carousel ul{
	width: 200px;
}

.list_carousel img{
	height: 150px;

}

.producto-filtro-lateral{
	margin-bottom: 20px;
}

.producto-filtro-lateral .detalle-descripcion{
	font-size: 14px;
	font-weight: bold;
}

#group-range{
			padding-top: 5px;
}
#group-range label{
	font-weight: normal;
}
#precioMin{
	margin-bottom: 10px;
}
#selectMarcas{
	margin-bottom: 5px;
}
.filtro-top{
	margin-top: 7px;
}
.filtro-marcas label, .filtro-marcas output{
	color:#7F7F7F;;
}

@media screen and (max-width: 1024px){
	header .container{
		padding-right: 0;
		padding-left: 0;
	}
	.img_oferta{
		width: 40%;
	}
	.media-body p, .media-body ul{
		font-size: 12px;
		text-align: justify;
	}

	.media-body h3{
		font-size: 16px;
	}

	.media-body h4{
		font-size: 14px;
	}

}

@media screen and (max-width: 768px){
	#logos{
		margin-top: 1.5%;
	}
}

@media screen and (max-width: 480px){

	section.container{
		margin: 0;
	}

	#myTab{
		font-size: 13px;
	}

	.thumbnail h3{
		font-size: 13px;
		line-height: 12px;
	}

	.thumbnail .caption{
		padding: 5px;
	}

	.btn{
		font-size: 14px;
		padding: 3px 8px;
	}

	#busca .btn{
		padding: 6px 12px;
	}

	.caption-precio{
		font-size: 16px;
		text-align: right;
	}


	.item-cantidad p{
		margin-top: 1%;
	}

	.item-descripcion h3{
		font-size: 16px;
	}

	.item-precio p{
		margin-top: 5%;
	}

	.titulo{
		font-size: 14px;
	}

	.titulo-precio-cantidad{
		margin-top: 5px;
	}

	.titulo-precio-cantidad div{
		background-color: #E6E6E6;
		border-radius: 4px;
		margin: 0 4%;
	}

	#producto-detalle #producto-detalle-descripcion{
		padding: 15px 0;
	}
} 

