.range {
  /*width: 200px;
  margin: 100px auto;*/
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 99%;
  height: 10px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background: #ffffff;
  /*box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;*/
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 22px;
  border: none;
  border-radius: 2px;
  background-color: #A1CFFF;
  /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  /*background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  /*background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]:hover::-webkit-slider-thumb{
  background-color: #0099CC;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 22px;
  border: none;
  border-radius: 2px;
  background-color: #A1CFFF;
  background-image: linear-gradient(to bottom, #A1CFFF 0, #A1CFFF 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 22px;
  border-radius: 2px;
  border: 0;
  background-color: #A1CFFF;
  background-image: linear-gradient(to bottom, #A1CFFF 0, #A1CFFF 100%); /* W3C */
}