#no-template-pager{
	border-top: 1px solid #bdc3c7;
	display: inline-block;
	float: left;
	padding: 4px 0;
	position: relative;
}

#no-template-pager img{
	
	display: block;
	float: left;
	height: auto;
	margin: 2px 0;
	padding: 0 0.5em;
	position: relative;
	width: 15%;
}

.active_img{
	border: 1px solid #bdc3c7;
}

.cycle-slideshow{
	display: inline-block;
	float: left;

	position: relative;
	width: 85%;
}

.cycle-slideshow img{
	float: left;
	margin: 2px 0;
	padding: 1.5px 2.5px;
	position: relative;
	width: 100%;
}

.slide_image{
	display: block;
	float: left;
	position: relative;
	width: 46%;
}

@media (max-width: 959px){
	
	.slide_image{
		width: 100%;
	}

}

@media (max-width: 480px){

}